<template>
  <div class="page detail">
    <TitleBar :title="bookInfo.title" />
    <h2>{{ bookInfo.title }}</h2>
    <img :src="bookInfo.cover" alt="">
    <p>简介:{{ bookInfo.summary }}</p>
    <router-link class="btn" to="/read">开始阅读</router-link>
    <button class="btn" @click="addBookCase">{{isExist ? '已在书架' : '加入书架'}}</button>
  </div>
</template>

<script>
import axios from 'axios'
import TitleBar from '@/components/TitleBar.vue'

export default {
  components: {
    TitleBar
  },
  data () {
    return {
      bookInfo: {}
    }
  },
  computed: {
    bookCase () {
      return this.$store.state.bookCase
    },
    isExist () { // 已在书架
      return this.bookCase.find(v => v.fiction_id === this.bookInfo.fiction_id)
    }
  },
  methods: {
    addBookCase () {
      this.$store.commit('addCase', this.bookInfo)
      if (!this.isExist) {
        this.$toast('删除成功')
      } else {
        this.$toast('添加成功')
      }
    }
  },
  created () {
    axios.get('/book/detail', {
      params: {
        id: this.$route.params.id
      }
    }).then(res => {
      if (res.data.code === 1) {
        this.bookInfo = res.data.values
      } else {
        alert(res.data.msg)
        this.$router.replace('/404')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 120px;
}
.btn {
  background: orange;
  padding: 5px 10px;
  margin: 0 10px;
}
button.btn {
  background: #ffffff;
  border: 1px solid #cccccc;
}
</style>
