<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333333;
}
</style>
