
<template>
  <div>
    <button @click="visible1 = true">显示普通弹窗</button>
    <button>显示表单弹窗</button>
    <button>显示表格弹窗</button>
    <MessageBox
      v-if="visible1"
      title="弹窗1234"
      @close="visible1 = false"
      @ok="ok1"
      @cancel="visible1 = false"
    >
      <!-- 具名插槽 -->
      <template v-slot:top>
        <div class="top">
          <b>标题111111</b>
          <button>按钮</button>
        </div>
      </template>
      <table border="1" cellspacing="0">
        <tr>
          <th>表头1</th>
          <th>表头2</th>
          <th>表头3</th>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
        </tr>
      </table>
      <!-- <template v-slot:footer>
        <i>footeraaaaa</i>
      </template> -->
    </MessageBox>
  </div>
</template>

<script>
import MessageBox from './components/MessageBox.vue'

export default {
  data () {
    return {
      visible1: false
    }
  },
  methods: {
    ok1 () {
      console.log('点击弹窗1234确定按钮')
    }
  },
  components: {
    MessageBox
  }
}
</script>

<style>

</style>
