.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.menu {
  width: 250px;
  background: #021233;
  display: flex;
}
.tabBar {
  width: 100px;
  color: #919398;
  padding-top: 100px;
  p {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: #919398;
  }
  .active {
    color: #ffffff;
    background: #091e45;
    border-left: 2px solid #ffffff;
    svg {
      fill: #ffffff;
    }
  }
}
.tabCon {
  flex: 1;
  background: #091e45;
  h2 {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  li a {
    display: block;
    line-height: 40px;
    color: #919398;
    &.linkLight {
      color: #ffffff;
      border-right: 4px solid skyblue;
    }
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.top {
  height: 120px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.topNav {
  display: flex;
  a {
    background: #cccccc;
    padding: 0 15px;
    line-height: 40px;
    margin: 0 10px;
    &.active {
      background: orange;
      color: #ffffff;
    }
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: green;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
    }
  }
}
.main {
  flex: 1;
  background: #f5f5f5;
  padding: 20px;
}