<template>
  <div class="page bookcity">
    <div class="search">
      <router-link to="/search">搜索</router-link>
    </div>
    <swiper :options="swiperOptions">
      <swiper-slide v-for="item in banner" :key="item.id">
        <img :src="item.ad_pic_url" alt="" />
      </swiper-slide>
    </swiper>
    <div v-for="item in list" :key="item.id" class="row">
      <h2>{{ item.ad_name }}</h2>
      <ul>
        <li
          v-for="book in item.data.data"
          :key="book.fiction_id"
          @click="goDetail(book.fiction_id)"
        >
          <div class="img">
            <img v-img="book.cover" alt="" />
          </div>
          <p>{{ book.title }}</p>
        </li>
      </ul>
    </div>
    <div class="mark" v-if="showAd">
      <div class="con">
        <img src="https://static.maizuo.com/v5/upload/5f82adfd624893df576df46d73bc9b4a.jpg" alt="">
        <svg @click="close" t="1656983459588" class="close" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2253"><path d="M512 960c-247.039484 0-448-200.960516-448-448S264.960516 64 512 64 960 264.960516 960 512 759.039484 960 512 960zM512 128.287273c-211.584464 0-383.712727 172.128262-383.712727 383.712727 0 211.551781 172.128262 383.712727 383.712727 383.712727 211.551781 0 383.712727-172.159226 383.712727-383.712727C895.712727 300.415536 723.551781 128.287273 512 128.287273z" p-id="2254"></path><path d="M557.05545 513.376159l138.367639-136.864185c12.576374-12.416396 12.672705-32.671738 0.25631-45.248112s-32.704421-12.672705-45.248112-0.25631l-138.560301 137.024163-136.447897-136.864185c-12.512727-12.512727-32.735385-12.576374-45.248112-0.063647-12.512727 12.480043-12.54369 32.735385-0.063647 45.248112l136.255235 136.671523-137.376804 135.904314c-12.576374 12.447359-12.672705 32.671738-0.25631 45.248112 6.271845 6.335493 14.496116 9.504099 22.751351 9.504099 8.12794 0 16.25588-3.103239 22.496761-9.247789l137.567746-136.064292 138.687596 139.136568c6.240882 6.271845 14.432469 9.407768 22.65674 9.407768 8.191587 0 16.352211-3.135923 22.591372-9.34412 12.512727-12.480043 12.54369-32.704421 0.063647-45.248112L557.05545 513.376159z" p-id="2255"></path></svg>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  data () {
    return {
      banner: [],
      swiperOptions: {
        loop: true,
        autoplay: true
      },
      list: []
    }
  },
  computed: {
    showAd () {
      return this.$store.state.showAd
    }
  },
  methods: {
    close () {
      this.$store.commit('closeAd')
    },
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: {
          id
        }
      })
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id
      //   }
      // })
    }
  },
  created () {
    axios.get('/banner').then(res => {
      this.banner = res.data.data.data
    })
    axios.get('/home/list').then(res => {
      this.list = res.data
    })
  },
  components: {
    Swiper,
    SwiperSlide
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
  vertical-align: middle;
}
.bookcity {
  overflow: auto;
}
.search {
  padding: 15px;
  a {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #d8d8d8;
    padding: 0 15px;
    line-height: 40px;
    color: #cccccc;
  }
}
.row {
  h2 {
    line-height: 40px;
    border-left: 3px solid orange;
    border-bottom: 1px solid #cccccc;
    padding-left: 15px;
    font-size: 16px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 33.3%;
      padding: 15px;
    }
    .img {
      width: 100%;
      padding-top: calc(100% / 0.75);
      background: #cccccc;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
}
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
  .con {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  .close {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 36px;
    fill: #ffffff;
  }
}
</style>
