<template>
  <div class="box">
    test: {{ test.toFixed(2) }}
    <h3>{{ title }}</h3>
    <p>价格：¥{{ price }}</p>
    <button :disabled="count <= 0" @click="$emit('change', -1, title)">-</button>
    {{ count }}
    <button @click="$emit('change', 1, title)">+</button>
  </div>
</template>

<script>
export default {
  // 接受组件的参数，不可以再组件内修改传过来的参数
  // props: ['title', 'price', 'count', 'test'],
  props: { // 校验参数类型
    title: String,
    price: Number,
    count: Number,
    test: {
      type: Number,
      default: 22 // 默认值
      // required: true // 必传参数
    }
  },
  methods: {
  }
}
</script>

<!-- scoped 只在当前组件内生效 -->
<style lang="scss" scoped>
.box {
  border-bottom: 1px dashed;
  padding: 10px;
}
button {
  padding: 3px 15px;
  background: orange;
}
</style>
