<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  .app {
    display: flex;
  }
  .left {
    width: 100px;
    background: #dddddd;
  }
  .left p {
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dashed;
  }
  .left p.active {
    background: orange;
    color: #ffffff;
  }
  .right {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  h3 {
    padding-left: 10px;
    line-height: 30px;
    background: #cccccc;
  }
  li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
  }
  button {
    width: 20px;
    height: 20px;
  }
</style>
<body>
  <div class="app">
    <div class="left">
      <p
        v-for="(item, index) in tablist"
        :class="{active: curIndex === index}"
        @click="curIndex = index"
      >{{ item.title }}</p>
    </div>
    <div class="right">
      <h3>{{ tablist[curIndex].title }}</h3>
      <ul>
        <li v-for="(item, index) in curRightList">
          <h4>{{ item.food }}</h4>
          <p>价格: ¥{{ item.price }}</p>
          <button :disabled="item.count <= 0" @click="changeCount(index, -1)">-</button>
          {{ item.count }}
          <button @click="changeCount(index, 1)">+</button>
        </li>
      </ul>
    </div>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        curIndex: 0, // 高亮下标
        tablist: [
          {
            title: '早餐',
            list: [
              {
                food: '包子',
                price: 9,
                count: 0
              },
              {
                food: '鸡蛋',
                price: 2,
                count: 0
              },
              {
                food: '油条',
                price: 1.5,
                count: 0
              },
              {
                food: '豆腐脑',
                price: 5.5,
                count: 0
              },
              {
                food: '肉夹馍',
                price: 9,
                count: 0
              }
            ]
          },
          {
            title: '盖饭',
            list: [
              {
                food: '宫保鸡丁盖饭',
                price: 18,
                count: 0
              },
              {
                food: '鱼香肉丝盖饭',
                price: 18,
                count: 0
              },
              {
                food: '韭菜鸡蛋盖饭',
                price: 16,
                count: 0
              },
              {
                food: '小炒肉盖饭',
                price: 21,
                count: 0
              },
              {
                food: '龙虾饭',
                price: 28,
                count: 0
              }
            ]
          },
          {
            title: '炒菜',
            list: [
              {
                food: '西红柿鸡蛋',
                price: 26,
                count: 0
              },
              {
                food: '尖椒鸡蛋',
                price: 28,
                count: 0
              },
              {
                food: '剁椒鸡蛋',
                price: 18,
                count: 0
              },
              {
                food: '地三鲜',
                price: 20,
                count: 0
              },
              {
                food: '锅包肉',
                price: 30,
                count: 0
              }
            ]
          },
          {
            title: '烧烤',
            list: [
              {
                food: '羊肉串',
                price: 3,
                count: 0
              },
              {
                food: '鸡翅',
                price: 8,
                count: 0
              },
              {
                food: '毛豆',
                price: 18,
                count: 0
              },
              {
                food: '蚕蛹',
                price: 5,
                count: 0
              },
              {
                food: '烤羊腰',
                price: 10,
                count: 0
              }
            ]
          },
          {
            title: '其他',
            list: [
              {
                food: '麻辣小龙虾',
                price: 188,
                count: 0
              },
              {
                food: '大盘鸡',
                price: 168,
                count: 0
              },
              {
                food: '巫山烤鱼',
                price: 218,
                count: 0
              },
              {
                food: '火锅鸡',
                price: 128,
                count: 0
              },
              {
                food: '牛蛙',
                price: 108,
                count: 0
              }
            ]
          }
        ]
      },
      methods: {
        changeCount(index, num) {
          this.tablist[this.curIndex].list[index].count += num
        }
      },
      computed: {
        curRightList() {
          return this.tablist[this.curIndex].list
        }
      }
    })
  </script>
</body>
</html>