<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yanone Kaffeesatz,sans-serif;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,#ffafbd,#ffc3a0);
    background-repeat: no-repeat;
  }
  main {
    padding: 30px 40px 20px;
    width: 440px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
  }
  h1 {
    font-size: 22px;
    text-align: center;
    margin: 20px 0;
  }
  .form {
    display: flex;
  }
  .form input {
    flex: 1;
    border: none;
    border-bottom: 3px dashed #fe7345;
    background: none;
    outline: none;
    margin-right: 10px;
  }
  .form button {
    padding: 3px 5px;
    position: relative;
    transform: rotate(4deg);
    border-radius: 6px;
    transition: transform .25s cubic-bezier(.175,.885,.32,1.275);
  }
  .empty {
    text-align: center;
    color: #999999;
  }
  .empty, .list {
    margin-top: 30px;
  }
  ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    padding: 8px;
  }
  ul li p {
    flex: 1;
    margin: 0 10px;
  }
  ul li.done {
    background: orange;
  }
  ul li span, ul li b {
    cursor: pointer;
  }
  .list button.active, .list button:hover {
    background: orange;
  }
</style>
<body>
  <div class="app">
    <main>
      <h1 ref="title">~ Today I need to ~</h1>
      <div class="form">
        <input ref="todoInp" autofocus @keydown.enter="add" v-model.trim="todoText" type="text" placeholder="添加todo">
        <button @click="add">submit</button>
      </div>
      <div class="list" v-if="list.length > 0">
        <ul>
          <li :class="{done: item.checked}" v-for="item in curList">
            <span @click="changeChecked(item.id)">{{item.checked ? '✅' : '口'}}</span>
            <p>{{item.text}}</p>
            <b @click="remove(item.id)">X</b>
          </li>
        </ul>
        <footer>
          <span>{{todoLength}}项未完成</span>
          <button :class="{active: activeType === 0}" @click="changeActive(0)">全部</button>
          <template v-if="todoLength < this.list.length">
            <template v-if="todoLength > 0">
              <button :class="{active: activeType === 1}" @click="changeActive(1)">进行中</button>
              <button :class="{active: activeType === 2}" @click="changeActive(2)">已完成</button>
            </template>
            <button @click="clearDone">清空已完成</button>
          </template>
        </footer>
      </div>
      <div class="empty" v-else>没有数据</div>
    </main>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        todoText: '', // 获取input内容
        list: JSON.parse(localStorage.getItem('list')) || [], // 所有数据
        activeType: 0 // 高亮的按钮
      },
      methods: {
        add() {
          // 使用ref获取dom元素自动获取焦点
          this.$refs.todoInp.focus()
          if (!this.todoText) {
            return
          }
          // 获取input内容，添加到list
          this.list.unshift({
            id: Date.now(), // 任务唯一值
            checked: false,
            text: this.todoText
          })
          this.todoText = ''
        },
        // 删除
        remove(id) {
          let index = this.list.findIndex(v => v.id === id)
          this.list.splice(index, 1)
        },
        // 切换任务状态
        changeChecked(id) {
          let index = this.list.findIndex(v => v.id === id)
          this.list[index].checked = !this.list[index].checked
        },
        // 计算未完成的数量
        // todoLength1() {
        //   console.log('计算未完成数量')
        //   return this.list.filter(item => !item.checked).length
        // }
        // 修改按钮高亮
        changeActive(n) {
          this.activeType = n
        },
        // 清空已完成
        clearDone() {
          this.list = this.list.filter(item => !item.checked)
        }
      },
      // 计算属性,调用时类似data中的数据，不需要通过括号调用
      computed: {
        todoLength() {
          return this.list.filter(item => !item.checked).length
        },
        curList() {
          return this.list.filter(item => {
            if (this.activeType === 0) {
              return true
            } else if (this.activeType === 1) {
              return !item.checked
            } else {
              return item.checked
            }
          })
        }
      },
      // 监听变量改变
      watch: {
        list: {
          handler() {
            console.log('list改变了',this.list)
            localStorage.setItem('list', JSON.stringify(this.list))
          },
          deep: true
        }
      }
    })
  </script>
</body>
</html>