<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  p {
    display: flex;
  }
  b {
    vertical-align: top;
    width: 90px;
    text-align: right;
  }
  button {
    margin-left: 90px;
  }
</style>
<body>
  <div class="app">
    <div>
      <p>
        <b>姓名：</b>
        <input type="text" v-model.lazy.trim="formData.username">
      </p>
      <p>
        <b>性别：</b>
        <input type="radio" name="sex" value="男" v-model="formData.sex"> 男
        <input type="radio" name="sex" value="女" v-model="formData.sex"> 女
      </p>
      <p>
        <b>年龄：</b>
        <input type="number" v-model.number="formData.age">
      </p>
      <p>
        <b>爱好：</b>
        <!-- 绑定数组会把value添加到数组中 -->
        <template v-for="item in arr">
          <input type="checkbox" :value="item" v-model="formData.hobby"> {{item}}
        </template>
      </p>
      <p>
        <b>婚否：</b>
        <!-- 绑定布尔值，会把checked属性赋值给变量 -->
        <input type="checkbox" v-model="formData.married">
        {{formData.married ? '已婚' : '未婚'}}
      </p>
      <p>
        <b>城市：</b>
        <select v-model="formData.city">
          <option value="">请选择</option>
          <option value="北京">北京</option>
          <option value="上海">上海</option>
          <option value="广州">广州</option>
          <option value="深圳">深圳</option>
        </select>
      </p>
      <p>
        <b>个人简介：</b>
        <textarea v-model="formData.desc"></textarea>
      </p>
      <button @click="submit">提交</button>
    </div>
    {{formData}}
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        arr: ['唱', '跳', 'rap', '篮球'],
        formData: {
          username: '',
          age: '',
          sex: '',
          married: false,
          hobby: ['rap'],
          desc: '',
          city: ''
        }
      },
      methods: {
        submit() {
          console.log('点击提交按钮', this.formData)
        }
      }
    })

  </script>
</body>
</html>