<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .red {
    padding: 50px;
    background: red;
  }
  .yellow {
    padding: 50px;
    background: yellow;
  }
  .blue {
    padding: 50px;
    background: blue;
  }
</style>
<body>
  <div class="app">
    <div class="red" @click.self="handleClick('red')">
      <div class="yellow" @click.capture="handleClick('yellow')">
        <div class="blue" @click.stop.once="handleClick('blue')">
          <b>{{ count }}</b>
        </div>
      </div>
    </div>
    <button @click="count++">+</button>
    <span v-once>{{count}}</span>

    <a v-if="show" href="https://4399.com">跳转小游戏<b @click.prevent="remove">删除</b></a>

  </div>

  <script>
    // document.addEventListener('click', () => {
    //   alert('捕获document')
    // }, true)
    // document.addEventListener('click', () => {
    //   alert('冒泡document')
    // }, false)

    let vm = new Vue({
      el: '.app',
      data: {
        show: true,
        count: 0
      },
      methods: {
        remove() {
          this.show = false
          console.log('aaaa')
        },
        handleClick(color) {
          alert(color)
        }
      }
    })

  </script>
</body>
</html>