<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  
</style>
<body>
  <div class="app">
    <button @click="flag = !flag">反转 {{ flag }}</button>
    <p>姓氏：<input type="text" v-model="info.firstname"></p>
    <p>名字：<input type="text" v-model="info.lastname"></p>
    {{ info }}
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        flag: false,
        info: {
          firstname: '王',
          lastname: '小明'
        }
      },
      // 监听vue变量改变
      watch: {
        flag(newVal, oldVal) {
          console.log('flag改变了', this.flag, newVal, oldVal)
        },
        info: {
          handler() {
            console.log('info改变了我要传给后端', this.info)
          },
          deep: true, // 如果想监听一个对象或者数组内部变化需要改成对象形式，添加深度监听
          immediate: true // 进入页面立即执行
        }
      }
    })
  </script>
</body>
</html>