<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  
</style>
<body>
  <div class="app">
    <h2>{{ message }}</h2>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <p>{{ reserverMsg }}</p>
    <button @click="flag = !flag">反转message</button>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        message: '第二天学习vue',
        flag: false,
      },
      methods: {
        reserverMsgFn() {
          console.log('反转message函数')
          return this.flag ? this.message : this.message.split('').reverse().join('')
        }
      },
      computed: {
        // 把计算属性当成data中的变量使用，不需要加括号调用
        // 如果一个变量是由一个或者多个变量生成的就使用计算属性
        reserverMsg() {
          // 计算属性会监听函数内使用的变量，当变量改变时自动执行函数计算新的返回值，存到缓存中
          // 使用计算属性时如果函数内依赖的变量没有改变就从缓存中读取数据
          console.log('反转message计算属性')
          return this.flag ? this.message : this.message.split('').reverse().join('')
        }
      }
    })
  </script>
</body>
</html>