/* pages/info/info.wxss */
.item {
  display: flex;
}
.item image {
  width: 200rpx;
  height: 200rpx;
}
.content {
  flex: 1;
}
.loading {
  height: 100rpx;
  background: #dddddd;
  text-align: center;
  line-height: 100rpx;
}