.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  overflow: hidden;
  img {
    width: 30px;
  }
  h2 {
    margin-bottom: 0;
    margin-left: 14px;
    width: 84px;
    height: 33px;
    overflow: hidden;
  }
}