<template>
  <el-container>
    <el-header>
      <div class="logo">
        <b>LOGO</b>
        <span>终极一班</span>
      </div>
      <el-menu
        :default-active="defaultActive"
        mode="horizontal"
        background-color="#3180fe"
        text-color="#fff"
        active-text-color="#fff"
        :router="true"
      >
        <el-menu-item index="/">监控页</el-menu-item>
        <el-menu-item index="/list">列表页</el-menu-item>
      </el-menu>
      <div class="info">
        <el-avatar shape="square" size="large" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown>
          <span class="el-dropdown-link">
            王小明<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
export default {
  data () {
    return {
      defaultActive: '/'
    }
  },
  created () {
    this.defaultActive = this.$route.path
  }
}
</script>

<style lang="scss" scoped>
.el-container {
  min-height: 100%;
  background: #f2f2f2;
}
.el-header {
  background: #3180fe;
  padding: 10px 20px;
  display: flex;
  position: relative;
}
.el-menu.el-menu--horizontal {
  border-bottom: none;
}
.el-menu-item {
  height: 40px !important;
  line-height: 40px !important;
  border-bottom: none !important;
}
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: none !important;
  background: rgb(39, 102, 203) !important;
  font-weight: bold;
}
.logo {
  margin-right: 40px;
  display: flex;
  color: #ffffff;
  b {
    margin-right: 20px;
    font-size: 30px;
  }
  span {
    width: 30px;
    font-size: 14px;
  }
}
.info {
  position: absolute;
  height: 40px;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}
.el-dropdown-link {
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
}
.el-icon-arrow-down {
  font-size: 12px;
}
</style>
