<view>text: {{query.text}}</view>
<view>user: {{query.user}}</view>
<view>time: {{query.time}}</view>
<button type="primary">
  <!-- open-type="navigate" 保留当前页面，跳转到非tabbar页面 -->
  <navigator open-type="redirect" url="/pages/info/info">跳转info页面</navigator>
</button>
