:global(#root) {
  height: 100%;
}
.wrap {
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  height: 100%;
}
.content {
  width: 328px;
  margin: 0 auto;
}
.top {
  margin: 60px 0 40px;
  p {
    text-align: center;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  img {
    width: 40px;
    margin-right: 14px;
  }
  h2 {
    margin-bottom: 0;
  }
}