<template>
  <router-view />
</template>

<script>
export default {

}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
</style>
