<template>
  <div>
    <h3>{{ info.Subject }}</h3>
    <ul :class="info.Layout">
      <li
        v-for="item in info.Content"
        :key="item.Type"
        @click="$emit('setTitle', item.Label)"
      >
        <img v-if="item.Icon" :src="item.Icon" alt="">
        <p>{{ item.Label }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['info']
}
</script>

<style lang="scss" scoped>
h3 {
  padding: 10px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 25%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  img {
    width: 80px;
  }
}
.border {
  li {
    border: 1px solid #cccccc;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    border-right: none;
    &:last-of-type, &:nth-child(4n) {
      border-right: 1px solid #cccccc;
    }
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}
</style>
