<template>
  <footer>
    <p v-for="item in navlist" :key="item.text">
      <img :src="item.icon" alt="">
      <span>{{ item.text }}</span>
    </p>
    <!-- <p>
      <img src="../assets/icon_home.png" alt="">
      <span>首页</span>
    </p>
    <p>
      <img src="../assets/icon_classify.png" alt="">
      <span>分类</span>
    </p>
    <p>
      <img src="../assets/icon_mine.png" alt="">
      <span>我的</span>
    </p> -->
  </footer>
</template>

<script>
import iconMine from '../assets/icon_mine.png'

export default {
  data () {
    return {
      navlist: [
        {
          text: '首页',
          icon: require('../assets/icon_home.png')
        },
        {
          text: '分类',
          icon: require('../assets/icon_classify.png')
        },
        {
          text: '我的',
          icon: iconMine
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
  height: 60px;
  border-top: 1px solid #dddddd;
  display: flex;
  p {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 25px;
  }
}
</style>
