<template>
  <header>{{ title }}</header>
</template>

<script>
export default {
  props: ['title']
}
</script>

<style lang="scss" scoped>
header {
  height: 50px;
  border-bottom: 1px solid #dddddd;
  padding: 0 20px;
  font-size: 22px;
  line-height: 50px;
}
</style>
