<template>
  <div class="edit">
    <div class="form-item">
      <span>联系人</span>
      <input type="text" placeholder="请输入联系人" v-model="form.user">
    </div>
    <div class="form-item">
      <span>手机号</span>
      <input type="text" placeholder="请输入手机号" v-model="form.tel">
    </div>
    <div class="form-item">
      <span>地址</span>
      <select v-model="form.city">
        <option value="">请选择</option>
        <option value="北京">北京</option>
        <option value="上海">上海</option>
        <option value="广州">广州</option>
        <option value="东莞">东莞</option>
        <option value="曹县">曹县</option>
      </select>
    </div>
    <div class="form-item">
      <span>详细地址</span>
      <input type="text" placeholder="请输入详细地址" v-model="form.detail">
    </div>
    <button @click="submit">完成</button>
    <button class="del" v-if="form.id" @click="del">删除</button>
    <div class="tip" v-if="tipMsg">{{ tipMsg }}</div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
const telReg = /^1[3-9]\d{9}$/

export default {
  data () {
    return {
      form: {
        user: '',
        tel: '',
        city: '',
        detail: ''
      },
      tipMsg: ''
    }
  },
  watch: {
    tipMsg () {
      if (this.tipMsg) {
        setTimeout(() => {
          this.tipMsg = ''
        }, 2000)
      }
    }
  },
  methods: {
    ...mapMutations(['addAddress', 'editAddress', 'remvoe']),
    submit () {
      if (!this.form.user) {
        this.tipMsg = '请填写联系人'
      } else if (!telReg.test(this.form.tel)) {
        this.tipMsg = '请填写正确的手机号'
      } else if (!this.form.city) {
        this.tipMsg = '请选择城市'
      } else if (!this.form.detail) {
        this.tipMsg = '请填写详细地址'
      } else {
        if (this.form.id) {
          this.editAddress(this.form)
        } else {
          this.addAddress(this.form)
        }
        this.$router.back()
      }
    },
    del () {
      this.remvoe(this.form.id)
      this.$router.back()
    }
  },
  computed: {
    ...mapState(['addressList'])
  },
  created () {
    // 根据路由参数从仓库中查找数据反显到页面
    const info = this.addressList.find(v => v.id === this.$route.query.id * 1)
    if (info) {
      this.form = { ...info }
    }
  }
}
</script>

<style lang="scss" scoped>
.edit {
  height: 100%;
  background: #eeeeee;
}
.form-item {
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  display: flex;
  font-size: 14px;
  span {
    width: 80px;
    padding: 0 10px;
    line-height: 40px;
  }
  input, select {
    flex: 1;
    border: none;
    outline: none;
  }
}
button {
  width: 100%;
  background: #ffffff;
  color: orange;
  line-height: 40px;
  margin-top: 15px;
  border: none;
}
.del {
  background: tomato;
  color: #ffffff;
}
.tip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba($color: #f2750e, $alpha: .8);
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}
</style>
