<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  b {
    display: inline-block;
  }
</style>
<body>
  <div class="app">
    <p>
      <b ref="bb">{{ count }}</b>
      <button @click="count ++">+</button>
    </p>
  </div>

  <script>
    // 声明周期：从创建到销毁的过程
    let vm = new Vue({
      el: '.app', 
      // template: `<i>aaaaaaa</i>`,
      data: {
        count: 8,
        price: 12
      },
      methods: {
        add() {
          this.count++
        }
      },
      computed: {
        total() {
          return this.count * this.price
        }
      },
      watch: {},
      components: {},
      // vue对象创建之前，关于vue的内容都不可用
      beforeCreate() {
        console.log('%cbeforeCreate 创建之前', 'color: blue;font-size: 20px')
        console.log('%cthis.count', 'color: blue;font-size: 20px', this.count) // undefined
        console.log(this.$el)
      },
      // vue对象创建成功，vue中的数据和方法还有计算属性都可以使用，页面还没有解析，可以修改数据和请求接口
      created() {
        console.log('%ccreated 创建成功', 'color: tomato;font-size: 20px')
        console.log('%cthis.count', 'color: tomato;font-size: 20px', this.count)
        console.log(this.add)
        console.log(this.total)
        console.log(document.querySelector('p'))
        console.log(this.$el)
      },
      // 页面挂载之前，作用和created类似，还不可以操作dom
      beforeMount() {
        console.log('%cbeforeMount 页面挂载之前', 'color: orange;font-size: 20px')
        console.log(document.querySelector('.app'))
        console.log(this.$el)
      },
      // 页面挂载成功,可以操作dom元素
      mounted() {
        console.log('%cmounted 页面挂载之后', 'color: skyblue;font-size: 20px')
        console.log(document.querySelector('.app'))
        console.log(this.$el)
        this.timer = setInterval(() => {
          this.count ++
          console.log(this.count)
        }, 1000)
      },
      
      // 数据改变后触发更新阶段，注意不要在更新阶段修改数据
      beforeUpdate() {
        console.log('%c beforeUpdate 页面更新前', 'color: skyblue;font-size: 20px')
        console.log(this.count)
        console.log(document.querySelector('b').innerHTML)
      },
      updated() { // 可以获取最新的dom元素
        console.log('%c updated 页面更新完成', 'color: skyblue;font-size: 20px')
        console.log(this.count)
        console.log(document.querySelector('b').innerHTML)
      },
      // vue实例销毁前
      beforeDestroy() {
        console.log('%c beforeDestroy vue实例销毁前', 'color: skyblue;font-size: 20px')
        console.log(this.$refs.bb)
        // this.$refs.bb.innerHTML = 'bb'
        clearInterval(this.timer)
      },
      // vue实例销毁后
      destroyed() {
        console.log('%c destroyed vue实例销毁后', 'color: skyblue;font-size: 20px')
        console.log(this.$refs.bb)
      }
    })

    // vm.$mount('.app')

  </script>
</body>
</html>