<template>
  <div class="first">
    <nav>
      <router-link to="/first">推荐</router-link>
      <router-link to="/first/city">北京</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.first {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: center;
    a {
      margin: 0 10px;
    }
    .router-link-exact-active {
      color: tomato;
    }
  }
}
</style>
