<template>
  <div>搜索</div>
</template>

<script>
import { getSearchHotwords } from '@/service/api'

export default {
  created () {
    getSearchHotwords().then(res => {
      console.log(res)
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
