.cart {
  position: fixed;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: .3);
}
.con {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  ul {
    flex: 1;
    overflow-y: auto;
  }
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    h4 {
      flex: 1;
      font-weight: normal;
    }
    p {
      width: 60px;
      text-align: right;
      margin-right: 10px;
      color: tomato;
    }
    .btn {
      width: 70px;
      display: flex;
      button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: skyblue;
        border: none;
        color: #ffffff;
      }
      span {
        width: 30px;
        text-align: center;
      }
    }
  }
}
.title {
  background: #f3f5f7;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
}