<template>
  <div>
    <p v-for="item in dataList" :key="item.sort">
      <a :href="item.resource"><img :src="item.imageUrl" alt=""></a>
    </p>
  </div>
</template>

<script>
export default {
  props: ['dataList']
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
</style>
