<template>
  <div class="double">
    <p v-for="item in dataList" :key="item.sort">
      <a :href="item.resource"><img :src="item.imageUrl" alt=""></a>
    </p>
  </div>
</template>

<script>
export default {
  props: ['dataList']
}
</script>

<style lang="scss" scoped>
.double {
  display: flex;
  p {
    flex: 1;
  }
}
img {
  width: 100%;
}
</style>
