<template>
  <div class="list">
    <dl v-for="item in wareList" :key="item.wareId">
      <dt @click="goDetail(item)">
        <img :src="item.wareImg" alt="">
        <span>{{ item.wareName }}</span>
      </dt>
      <dd>
        <p>
          <s v-if="item.offlinePrice !== item.onlinePrice">¥{{ (item.offlinePrice / 100).toFixed(2) }}</s>
          <b>¥{{ (item.warePrice / 100).toFixed(2) }}</b>
        </p>
        <button @click="addCart(item)">+</button>
      </dd>
    </dl>
    <div class="loading">{{finish ? '没有更多数据了～' : '加载中..'}}.</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['wareList']),
    ...mapGetters(['finish'])
  },
  methods: {
    ...mapActions(['getList']),
    ...mapMutations(['addCartList']),
    addCart (goods) {
      this.addCartList(goods)
      this.$toast('添加成功')
    },
    goDetail (item) {
      this.$router.push({
        name: 'detail',
        params: {
          storeId: item.storeId,
          skuId: item.sku
        }
      })
    }
  },
  created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
}
dl {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  &:nth-child(3n) {
    border-right: none;
  }
  dt {
    font-size: 12px;
    span {
      display: block;
      height: 46px;
    }
  }
  dd {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px;
    p {
      display: flex;
      flex-direction: column;
      b {
        color: orange;
      }
      s {
        font-size: 12px;
        color: #cccccc;
      }
    }
    button {
      width: 20px;
      height: 20px;
      border: 1px solid orange;
      color: orange;
      background: #ffffff;
    }
  }
}
.loading {
  width: 100%;
  line-height: 40px;
  background: #eeeeee;
  text-align: center;
  color: #666666;
}
</style>
