
<template>
  <div>
    <h1>app</h1>
    <Count1 @change="changeShow" :show="show" />
    <button @click="show = !show">{{ show }}</button>
    <!-- <button @click="show = !show">显示隐藏</button>
    <Count v-if="show" /> -->
    <!-- <CountDown time="1656042740833" /> -->
  </div>
</template>

<script>
// import Count from './components/Count.vue'
import Count1 from './components/Count1.vue'

export default {
  data () {
    return {
      show: true
    }
  },
  methods: {
    changeShow () {
      this.show = !this.show
    }
  },
  beforeCreate () {
    console.log('App 创建之前')
  },
  created () {
    console.log('App 创建之后')
  },
  beforeMount () {
    console.log('App 挂载之前')
  },
  mounted () {
    console.log('App 挂载之后')
  },
  beforeUpdate () {
    console.log('App 更新之前')
  },
  updated () {
    console.log('App 更新之后')
  },
  components: {
    // Count,
    Count1
  }
}
</script>

<style>

</style>
