<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {
  mounted () {
    // hash模式远离：监听锚点变化渲染对应的组件
    // window.addEventListener('hashchange', () => {
    //   console.log(location)
    // })
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    border-bottom: 1px solid;
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
