<template>
  <div>
    <h2>这是食物页面</h2>
    <ul>
      <li
        v-for="item in foodList"
        :key="item.title"
        @click="goDetail(item.title)"
      >{{ item.title }}</li>
    </ul>
    <ol>
      <li v-for="item in allList" :key="item.name">{{ item.name }}</li>
    </ol>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState(['foodList']),
    ...mapGetters(['allList'])
  },
  methods: {
    goDetail (title) {
      this.$router.push({
        path: '/detail',
        query: {
          title
        }
      })
    }
  },
  created () {
    if (this.foodList.length > 0) return
    this.$store.dispatch('getFoodList')
  }
}
</script>

<style>

</style>
