<template>
  <div>
    <h1>详情页面</h1>
    <h4>{{ title }}</h4>
    {{ curFood }}
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      title: this.$route.query.title
    }
  },
  computed: {
    ...mapState(['foodList']),
    curFood () {
      return this.foodList.find(v => v.title === this.title)
    }
  },
  methods: {
  },
  created () {
    if (this.foodList.length > 0) return
    this.$store.dispatch('getFoodList')
  }
}
</script>

<style>

</style>
