<template>
  <div>
    <h1>首页</h1>
    {{ allList }}
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState(['foodList']),
    ...mapGetters(['allList'])
  },
  methods: {
    ...mapActions(['getFoodList'])
  },
  created () {
    // 调用仓库的action函数
    // this.$store.dispatch('getFoodList', '100')
    this.getFoodList(100)
  }
}
</script>

<style>

</style>
