<template>
  <div>
    count组件：{{ count }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      count: 0
    }
  },
  methods: {
    handleClick () {
      this.count++
      console.log(this.count)
    }
  },
  created () {
    console.log('组件创建')
    // this.timer = setInterval(() => {
    //   this.count++
    //   console.log(this.count)
    // }, 500)
    document.addEventListener('click', this.handleClick)
  },
  // 组件销毁清楚异步任务，例如定时器、事件监听
  beforeDestroy () {
    console.log('组件销毁')
    // clearInterval(this.timer)
    document.removeEventListener('click', this.handleClick)
  }
}
</script>

<style>

</style>
