
<template>
  <div>
    <h2>count组件</h2>
    <button @click="count++">按钮点击了 {{ count }} 次</button>
    <button @click="$emit('change')">修改show {{ show }}</button>
  </div>
</template>

<script>

export default {
  props: ['show'],
  data () {
    return {
      count: 0
    }
  },
  beforeCreate () {
    console.log('Count 创建之前')
  },
  created () {
    console.log('Count 创建之后')
  },
  beforeMount () {
    console.log('Count 挂载之前')
  },
  mounted () {
    console.log('Count 挂载之后')
  },
  beforeUpdate () {
    console.log('Count 更新之前')
  },
  updated () {
    console.log('Count 更新之后')
  }
}
</script>

<style>

</style>
