<template>
  <header>
    <button @click="$emit('changeAll', true)">全选</button>
    <button @click="$emit('reverse')">反选</button>
    <button @click="$emit('changeAll', false)">全不选</button>
    <button @click="$emit('batchDel')">批量删除</button>
    <button @click="$emit('clear')">清空购物车</button>
    <button @click="$emit('add')">添加</button>
    <button @click="$emit('sort')">{{ sortText }}</button>
    <input
      type="text"
      placeholder="请输入搜索的名称"
      @keydown.13.32="$emit('search', $event.target.value)"
    >
    <button @click="$emit('search', '')">重置</button>
  </header>
</template>

<script>
export default {
  props: ['sortType'],
  computed: {
    sortText () {
      if (this.sortType === 0) {
        return '升序'
      } else if (this.sortType === 1) {
        return '降序'
      } else {
        return '默认排序'
      }
    }
  }
}
</script>

<style>

</style>
