<template>
  <div class="dialog" @click.self="$emit('close')" v-if="visible">
    <div class="content">
      <div class="header">
        <b>{{ title }}</b>
        <span @click="$emit('close')">X</span>
      </div>
      <div class="center">
        <slot></slot>
      </div>
      <div class="footer">
        <button @click="$emit('ok')">确认</button>
        <button @click="$emit('cancel')">取消</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['visible', 'title']
}
</script>

<style lang="scss" scoped>
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 700px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #cccccc;
}
.center {
  flex: 1;
  padding: 20px;
}
.footer {
  border-top: 1px solid #cccccc;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  button {
    margin-left: 20px;
  }
}
</style>
