
<template>
  <div>
    <h1>动态组件</h1>
    <nav>
      <button
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{active: curIndex === index}"
        @click="curIndex = index"
      >{{ item.title }}</button>
    </nav>
    <!-- 缓存组件状态 -->
    <keep-alive :exclude="['Table', 'Photo']">
      <!-- 动态组件 is="要渲染的组件名" -->
      <!-- <component :is="ComName"></component> -->
      <Photo v-if="curIndex === 0" />
      <List v-if="curIndex === 1" />
      <Table v-if="curIndex === 2" />
    </keep-alive>
  </div>
</template>

<script>
import List from './components/List.vue'
import Table from './components/Table.vue'
import Photo from './components/Photo.vue'

export default {
  data () {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '照片墙',
          comName: 'Photo'
        },
        {
          title: '列表',
          comName: 'List'
        },
        {
          title: '表格',
          comName: 'Table'
        }
      ]
    }
  },
  computed: {
    ComName () {
      return this.navlist[this.curIndex].comName
    }
  },
  methods: {
  },
  components: {
    List,
    Table,
    Photo
  }
}
</script>

<style lang="scss">
nav {
  border-bottom: 1px solid;
  margin-bottom: 20px;
  padding: 20px 0;
  button {
    margin-right: 20px;
  }
}
.active {
  background: orange;
  color: #ffffff;
}
</style>
