<template>
  <div>
    <button @click="show = true">显示弹窗</button>
    <!--
      // .sync修饰符的原型
      <MessageBox
        :visible="show"
        @update:visible="show = $event"
        :title="title"
        @update:title="title = $event"
      />
    -->
    <!-- .sync修饰符：父组件无需给子组件传入修改变量的函数，可以直接改变传入的变量 -->
    <MessageBox :visible.sync="show" :title.sync="title" />
  </div>
</template>

<script>
// import MessageBox from './components/MessageBox.vue'
export default {
  data () {
    return {
      show: false,
      title: '默认标题'
    }
  },
  components: {
    // 异步组件，打包的时候打包成单独的js文件，使用的时候再加载对应的js文件
    MessageBox: () => import('./components/MessageBox.vue')
  }
}
</script>

<style>

</style>
