<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  button {
    padding: 3px 6px;
  }
  .btn {
    padding: 20px;
    border-bottom: 1px solid tomato;
  }
</style>
<body>
  <div class="app">
    <h2>组件基础 {{count}}</h2>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
    <my-btn></my-btn>
  </div>

  <script>
    // 注册全局组件
    Vue.component('my-btn', {
      template: `
        <div class="btn">
          <my-test></my-test>
          <h3>标题 {{count}}</h3>
          <button @click="changeCount">按钮点击了 {{count}} 次</button>
          <ul>
            <li v-for="val in 5">{{val}}</li>  
          </ul>
        </div>
      `,
      data() {
        return {
          count: 0
        }
      },
      methods: {
        changeCount() {
          console.log(this)
          this.count ++
        }
      }
    })


    const testCom = {
      template: `<b>测试的局部组件{{title}}</b>`,
      data() {
        return {
          title: '123'
        }
      }
    }


    Vue.component('my-test', {
      template: `<i>测试组件 <test-com></test-com></i>`,
      components: { // 注册局部组件
        'test-com': testCom
      }
    })



    let vm = new Vue({
      el: '.app',
      data: {
        count: 100
      },
      methods: {
      },
      computed: {
      }
    })
  </script>
</body>
</html>