<template>
  <div class="wrap">
    <Header :title="curTitle"></Header>
    <main>
      <Flower
        v-for="item in arr"
        :key="item.Subject"
        :info="item"
        @setTitle="setTitle"
      />
    </main>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Flower from './components/Flower.vue'
import data from './assets/catagory.json'

export default {
  data () {
    return {
      arr: data,
      curTitle: ''
    }
  },
  methods: {
    setTitle (title) {
      this.curTitle = title
    }
  },
  components: {
    Footer,
    Header,
    Flower
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}
</style>
