<template>
  <div class="search">
    <h2>当前城市 {{ curCity }}</h2>
    <header>
      <div class="inp">
        <svg t="1656724621965" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2330"><path d="M966.4 924.8l-230.4-227.2c60.8-67.2 96-156.8 96-256 0-217.6-176-390.4-390.4-390.4-217.6 0-390.4 176-390.4 390.4 0 217.6 176 390.4 390.4 390.4 99.2 0 188.8-35.2 256-96l230.4 227.2c9.6 9.6 28.8 9.6 38.4 0C979.2 950.4 979.2 934.4 966.4 924.8zM102.4 441.6c0-185.6 150.4-339.2 339.2-339.2s339.2 150.4 339.2 339.2c0 89.6-35.2 172.8-92.8 233.6-3.2 0-3.2 3.2-6.4 3.2-3.2 3.2-3.2 3.2-3.2 6.4-60.8 57.6-144 92.8-233.6 92.8C256 780.8 102.4 627.2 102.4 441.6z" p-id="2331"></path></svg>
        <input v-model="searchText" @focus="showCancel = true" type="text" placeholder="输入城市名或拼音">
        <svg @click="searchText = ''" v-if="showCancel && searchText" t="1656731878025" class="clear" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3238"><path d="M85.333333 512C85.333333 276.352 276.309333 85.333333 512 85.333333c235.648 0 426.666667 190.976 426.666667 426.666667 0 235.648-190.976 426.666667-426.666667 426.666667-235.648 0-426.666667-190.976-426.666667-426.666667z m426.666667-30.165333l-105.685333-105.706667a21.269333 21.269333 0 0 0-30.08 0.106667 21.205333 21.205333 0 0 0-0.106667 30.08L481.834667 512l-105.706667 105.685333a21.269333 21.269333 0 0 0 0.106667 30.08 21.205333 21.205333 0 0 0 30.08 0.106667L512 542.165333l105.685333 105.706667a21.269333 21.269333 0 0 0 30.08-0.106667 21.205333 21.205333 0 0 0 0.106667-30.08L542.165333 512l105.706667-105.685333a21.269333 21.269333 0 0 0-0.106667-30.08 21.205333 21.205333 0 0 0-30.08-0.106667L512 481.834667z" fill="#3D3D3D" p-id="3239"></path></svg>
      </div>
      <span v-if="showCancel" @click="cancel">取消</span>
    </header>
    <section>
      <SearchList v-if="showSearchList" :list="searchList" @changeCity="changeCity" />
      <CityList v-else :cityList="cityList" @setCurLetter="jump" @changeCity="changeCity" />
    </section>
    <div class="toast" v-if="curLetter">{{ curLetter }}</div>
  </div>
</template>

<script>
import axios from 'axios'
import CityList from './components/CityList.vue'
import SearchList from './components/SearchList.vue'

export default {
  data () {
    return {
      curCity: '', // 当前城市
      allList: [], // 所有城市数据
      cityList: [], // 按照首字母分类的城市
      searchList: [], // 搜索列表
      curLetter: '', // 当前提示字母
      searchText: '', // 搜索的文字
      showCancel: false, // 显示取消按钮
      showSearchList: false // 显示搜索列表
    }
  },
  watch: {
    searchText () {
      if (this.searchText) {
        this.showSearchList = true
        this.searchList = this.allList.filter(item => {
          return item.name.includes(this.searchText) || item.pinyin.includes(this.searchText)
        })
      } else {
        this.searchList = []
      }
    }
  },
  methods: {
    changeCity (city) {
      this.curCity = city
    },
    cancel () {
      this.showCancel = false
      this.showSearchList = false
    },
    jump (type) {
      this.curLetter = type
      clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.curLetter = ''
      }, 1000)
    }
  },
  created () {
    axios.get('/city/list').then(res => {
      this.allList = res.data.data.cities
      this.allList.forEach(item => {
        // 获取当前城市的首字母
        const firstLetter = item.pinyin[0].toUpperCase()
        // 从城市列表中查找当前首字母的下标
        const i = this.cityList.findIndex(v => v.type === firstLetter)
        if (i === -1) {
          this.cityList.push({
            type: firstLetter,
            city: [item.name]
          })
        } else {
          this.cityList[i].city.push(item.name)
        }
      })
      // 根据首字母的排序
      this.cityList.sort((a, b) => a.type.charCodeAt() - b.type.charCodeAt())
      console.log(this.cityList)
    })
  },
  components: {
    CityList,
    SearchList
  }
}
</script>

<style lang="scss" scoped>
.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
header {
  height: 50px;
  padding: 10px 15px;
  background: #f4f4f4;
  display: flex;
  span {
    width: 43px;
    line-height: 30px;
    text-align: right;
  }
}
.inp {
  flex: 1;
  background: #ffffff;
  position: relative;
  .icon {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    top: 8px;
  }
  .clear {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 8px;
  }
  input {
    background: none;
    border: none;
    width: 100%;
    outline: none;
    height: 100%;
    padding-left: 30px;
    padding-right: 20px;
  }
}
section {
  flex: 1;
  overflow: hidden;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: rgba($color: #000000, $alpha: 0.5);
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
}
</style>
