<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{title}}</h2>
    <input type="text" v-model="title">
    <input type="text" :value="title" @input="title = $event.target.value">
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        title: '学习v-model'
      },
      methods: {
      }
    })

  </script>
</body>
</html>