<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .blue {
    color: blue;
  }
</style>
<body>
  <div class="app">
    <button :disabled="count <= 0" @click="count--">-</button>
    <!-- <div :class="['box', 'list', count > 3 ? 'red' : 'green']">{{count}}</div> -->
    <div :class="['box', {
      red: count > 3,
      green: count < 3,
      blue: count === 3
    }]">{{count}}</div>
    <button
      :disabled="count >= 5"
      @click="count++"
      :style="[{ padding: '10px' }, count > 3 ? btnStyle : '']"
    >+</button>
    <a v-bind:href="href">跳转</a>
    <img :src="href" />
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        count: 0,
        href: 'https://www.baidu.com',
        btnStyle: {
          color: 'red',
          fontSize: '20px',
          background: 'orange'
        }
      }
    })

  </script>
</body>
</html>