<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <ul>
      <li v-for="(item, index) in arr">{{item}} {{index}}</li>
    </ul>
    <div>
      <p v-for="(val, key, index) in info">{{key}} {{val}} {{index}}</p>
    </div>
    <ul>
      <li v-for="val in 'title'">{{val}}</li>
    </ul>
    <ul>
      <li v-for="val in 5">{{val}}</li>
    </ul>
    <hr />
    <ol>
      <li v-for="item in list">
        <h3>{{item.singer}}</h3>
        <ul>
          <li v-for="val in item.songs">{{val}}</li>
        </ul>
      </li>
    </ol>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        title: '从今天开始学习vue',
        num: 100,
        arr: ['html', 'css', 'javascript', 'node', 'webpack', 'vue', 'git'],
        info: {
          name: '李泽坤',
          age: 20,
          sex: '男'
        },
        list: [
          {
            singer: '徐良',
            songs: ['坏女孩', '和平分手', '飞机场', '红妆', '犯贱']
          },
          {
            singer: '许嵩',
            songs: ['断桥残雪', '灰色头像', '玫瑰花的葬礼', '多余的解释', '城府']
          },
          {
            singer: '汪苏泷',
            songs: ['不分手的恋爱', '有点甜', '巴赫旧约', '风度', '三国杀']
          }
        ]
      }
    })
  </script>
</body>
</html>