<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <button
      v-bind:disabled="count <= 0"
      v-on:click="changeCount(-1, $event)"
    >-</button>
    {{count}}
    <button @click="changeCount(1, $event)">+</button>
    <input type="text" @keydown.a="aa">
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        count: 0
      },
      methods: { // 存函数
        changeCount(num, e) {
          if (this.count + num < 0) {
            return
          }
          this.count += num
        },
        aa(e) {
          console.log(e.keyCode, e.target.value)
        }
      }
    })

  </script>
</body>
</html>