<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{title}}</h2>
    <h2 v-text="title"></h2>
    <h2 v-html="title"></h2>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        title: '<i>文本内容</i>'
      }
    })
  </script>
</body>
</html>