<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- {{ 只能解析表达式，不可以解析语句 }} -->
    <h1>{{ title }}</h1>
    <p>婚姻状态：{{ flag ? '已婚' : '未婚' }}</p>
    <div>分数: {{ num.toFixed(2) }}
      <!-- <p v-if="num >= 90">
        考的不太好，差点才满分，<b>我还得努力!!!</b>
      </p>
      <p v-else-if="num >= 60 && num < 90">我及格了，还是得卷</p>
      <p v-else>我没及格，我得卷起来了，在划水就饿死了</p> -->
      <p v-show="num >= 90">
        考的不太好，差点才满分，<b>我还得努力!!!</b>
      </p>
      <p v-show="num >= 60 && num < 90">我及格了，还是得卷</p>
      <p v-show="num < 60">我没及格，我得卷起来了，在划水就饿死了</p>
    </div>
    <hr />
    <p>姓名: {{ info.name }}</p>
    <p>年龄: {{ info.age }}</p>
    <p>性别: {{ info.sex }}</p>
  </div>

  <script>
    // vue核心：数据驱动视图更新
    // 实例化vue
    let vm = new Vue({
      el: '.app', // 挂载vue的元素
      data: { // 定义数据
        title: '从今天开始学习vue',
        flag: true,
        num: 100,
        arr: ['html', 'css', 'javascript', 'node', 'webpack', 'vue', 'git'],
        info: {
          name: '李泽坤',
          age: 20,
          sex: '男'
        }
      }
    })
  </script>
</body>
</html>