<template>
  <div>
    推荐
    <svg @click="change" :class="['icon', { red: active }]" t="1656917223301" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2286" width="200" height="200"><path d="M667.786667 117.333333C832.864 117.333333 938.666667 249.706667 938.666667 427.861333c0 138.250667-125.098667 290.506667-371.573334 461.589334a96.768 96.768 0 0 1-110.186666 0C210.432 718.368 85.333333 566.112 85.333333 427.861333 85.333333 249.706667 191.136 117.333333 356.213333 117.333333c59.616 0 100.053333 20.832 155.786667 68.096C567.744 138.176 608.170667 117.333333 667.786667 117.333333z" p-id="2287"></path></svg>
  </div>
</template>

<script>
export default {
  data () {
    return {
      active: JSON.parse(localStorage.getItem('svg-active'))
    }
  },
  methods: {
    change () {
      this.active = !this.active
      localStorage.setItem('svg-active', this.active)
    }
  }
}
</script>

<style lang="scss" scoped>
.icon {
  fill: #ccc;
}
.red {
  fill: red;
}
</style>
