<template>
  <div class="page login">
    <h2>账号登录</h2>
    <p><input type="text" placeholder="请输入账号" v-model="username"></p>
    <p><input type="password" placeholder="请输入密码" v-model="password"></p>
    <button @click="submit">登陆</button>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    submit () {
      axios.post('/user/login', {
        username: this.username,
        password: this.password
      }).then(res => {
        if (res.data.code === 1) {
          localStorage.setItem('token', res.data.token)
          const path = this.$route.query.toPath || '/'
          this.$router.replace(path)
        } else {
          alert(res.data.msg)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  padding: 0 16px;
  h2 {
    text-align: center;
    margin: 100px 0 30px
  }
  button {
    width: 100%;
    height: 40px;
    background: orange;
    color: #ffffff;
  }
}
p {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  input {
    height: 40px;
    padding: 0 10px;
  }
}
</style>
