<template>
  <div class="wrap">
    <h1>{{ title }}</h1>
    <Tab />
    <Tab />
    <Tab />
    <Tab />
    <Tab />
  </div>
</template>

<script>
import Tab from './components/Tab.vue'

export default {
  data () {
    return {
      title: '学习vue组件'
    }
  },
  components: {
    Tab
  }
}
</script>

<style lang="scss">
.wrap {
}
</style>
