<template>
  <div>
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/about">我的收藏</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  border-bottom: 1px solid;
  line-height: 50px;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 50px;
    color: #333333;
  }
  .router-link-exact-active {
    color: red;
  }
}
</style>
