<template>
  <div class="confirm-wrap" v-if="visible">
    <div class="confirm">
      <div class="desc">{{ msg }}</div>
      <div class="btns">
        <button @click="cancel">取消</button>
        <button @click="ok">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      visible: true
    }
  },
  props: ['msg', 'handleOk'],
  methods: {
    cancel () {
      this.visible = false
    },
    ok () {
      this.visible = false
      this.handleOk && this.handleOk()
    }
  }
}
</script>

<style lang="scss" scoped>
.confirm-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .7);
}
.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.desc {
  padding: 20px;
  text-align: center;
}
.btns {
  display: flex;
  border-top: 1px solid #eeeeee;
  button {
    flex: 1;
    background: #ffffff;
    height: 40px;
    border: none;
    border-right: 1px solid #eeeeee;
    color: orange;
    &:last-of-type {
      border-right: none;
    }
  }
}
</style>
