<template>
  <div>
    <h2>资讯页面</h2>
    <Count />
  </div>
</template>

<script>
import Count from '@/components/Count.vue'
export default {
  components: {
    Count
  }
}
</script>

<style>

</style>
