<template>
  <div>
    <h2>{{ title }}</h2>
    <div>
      <input type="text" v-model="title" />
    </div>
    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp4.itc.cn%2Fq_70%2Fimages03%2F20201012%2F8750f81c035f4f5f9d93fce95c3b3c8d.png&refer=http%3A%2F%2Fp4.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1658712762&t=bb8d52a1744a1a0b8dc707d19e833755" alt="">
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '照片墙'
    }
  },
  created () {
    console.log('Photo 组件创建')
  },
  destroyed () {
    console.log('Photo 组件销毁')
  }
}
</script>

<style lang="scss" scoped>
img {
  height: 400px;
}
</style>
