<template>
  <div>
    <header>
      <input type="text" placeholder="请输入筛选条件">
      <button>查询</button>
    </header>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>标题1</th>
          <th>标题2</th>
          <th>标题3</th>
          <th>标题4</th>
          <th>标题5</th>
          <th>标题6</th>
          <th>标题7</th>
          <th>标题8</th>
          <th>标题9</th>
          <th>标题10</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
        <tr>
          <td>内容1</td>
          <td>内容2</td>
          <td>内容3</td>
          <td>内容4</td>
          <td>内容5</td>
          <td>内容6</td>
          <td>内容7</td>
          <td>内容8</td>
          <td>内容9</td>
          <td>内容10</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
// import aixos from 'aixos'

export default {
  created () {
    console.log('Table组件创建成功，调用接口渲染列表')
    // 组件创建成功，调用接口渲染列表
    // aixos.post('/list').then(res => {
    // })
  },
  destroyed () {
    console.log('Table 组件销毁')
  }
}
</script>

<style>

</style>
