@import "animate.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html, body, #root, .App {
  width: 100%;
  height: 100%;
}
.App {
  background: #2a2b2f;
  overflow: auto;
}
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.bottle {
  background: #242529;
  width: calc((100% - 45px) / 4);
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  padding: 40px 20px;
  position: relative;
  img {
    height: 100px;
  }
  &:hover {
    img {
      animation: wobble 1s;
    }
  }
  h3 {
    height: 60px;
    font-size: 14px;
  }
  span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
  }
  &.active {
    border: 1px solid #5962d5;
    span {
      color: #5962d5;
    }
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  button {
    width: 100px;
    background: #5962d5;
    color: #eee;
    border: none;
    border-radius: 4px;
    &:disabled {
      background: #999;
      color: #666;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
  }
  li {
    width: 40px;
    background: #42444e;
    margin-right: 10px;
    padding: 3px 0;
    text-align: center;
    border-radius: 3px;
    position: relative;
    span {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      font-size: 12px;
      color: #ccc;
    }
    &.empty {
      background: #2c2d33;
    }
  }
  img {
    height: 100%;
  }
}
.mark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background: #2a2b2f;
    animation: fadeInDownBig 3s;
    &:nth-child(odd) {
      background: #242529;
      animation: fadeInUpBig 3s;
    }
    h3 {
      line-height: 30px;
    }
    p {
      margin-top: 15px;
    }
    img {
      height: 140px;
    }
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }
}
