<template>
  <div>{{ countDownStr }}</div>
</template>

<script>
export default {
  props: ['endTime'],
  data () {
    return {
      countDownStr: ''
    }
  },
  created () {
    // 开始倒计时
    this.timer = setInterval(() => {
      const time = this.endTime - Date.now()
      if (time <= 0) {
        clearInterval(this.timer)
        this.$emit('over')
        return
      }
      const d = Math.floor(time / 1000 / 60 / 60 / 24)
      const h = Math.floor(time / 1000 / 60 / 60 % 24)
      const m = Math.floor(time / 1000 / 60 % 60)
      const s = Math.floor(time / 1000 % 60)
      this.countDownStr = `${d}天${h}小时${m}分${s}秒`
    }, 1000)
  }
}
</script>

<style>

</style>
