* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #333333;
}
input, button {
  outline: none;
  border: none;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
  font-size: 14px;
}