<template>
  <div class="about">
    <nav>
      <p
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >
        <b>{{ item.list.length }}</b>
        <span>{{ item.title }}</span>
      </p>
    </nav>
    <main>
      <div class="tip" :style="{color: navlist[curIndex].color}">{{ navlist[curIndex].text }}</div>
      <div
        v-for="item in navlist[curIndex].list"
        :key="item.name"
        class="row"
      >
        <img :src="item.imgUrl" alt="">
        <h4>{{ item.name }}</h4>
        <p>{{ item.content }}</p>
      </div>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['selectFood']),
    navlist () {
      const navlist = [
        {
          title: '建议少吃',
          min: 60,
          max: 100,
          list: [],
          text: '以下食物升糖指数较高，建议少吃',
          color: 'red'
        },
        {
          title: '适量食用',
          min: 30,
          max: 59,
          list: [],
          text: '以下食物升糖指数适中，建议适量食用',
          color: 'orange'
        },
        {
          title: '放心食用',
          min: 0,
          max: 29,
          list: [],
          text: '以下食物升糖指数较低，可以放心食用',
          color: 'green'
        }
      ]
      this.selectFood.forEach(item => {
        navlist.forEach(val => {
          if (item.glycemicIndex >= val.min && item.glycemicIndex <= val.max) {
            val.list.push(item)
          }
        })
      })
      return navlist
    }
  }
}
</script>

<style lang="scss" scoped>
.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    background: #ffffff;
    display: flex;
    p {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 14px 0;
      color: #cccccc;
    }
    .active {
      color: #333333;
    }
  }
  main {
    flex: 1;
    overflow: auto;
    background: #eeeeee;
    padding: 0 20px;
  }
}
.tip {
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}
.row {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
</style>
