<template>
  <div class="home">
    <Header />
    <section>
      <div class="left">
        <p
          v-for="(item, index) in foodList"
          :key="item.title"
          :class="{ active: curIndex === index }"
          @click="setCurIndex(index)"
        >{{ item.title }}</p>
      </div>
      <div class="right">
        <ul>
          <li
            v-for="item in curRight"
            :key="item.name"
            :class="{ active: item.checked }"
            @click="changeChecked(item)"
          >
            <div class="img"><img :src="item.imgUrl" /></div>
            <p>{{ item.name }}</p>
          </li>
        </ul>
      </div>
    </section>
    <footer v-if="selectFood.length > 0">
      <div class="top">
        <span>已选食物({{ selectFood.length }})</span>
        <router-link to="/evaluation">去测评</router-link>
      </div>
      <div class="bottom">
        <p v-for="item in selectFood" :key="item.name">
          {{ item.name }}
          <span @click="changeChecked(item)">X</span>
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState, mapMutations } from 'vuex'
import Header from '../components/Header.vue'
export default {
  components: {
    Header
  },
  methods: {
    ...mapMutations(['setFoodList', 'setCurIndex', 'changeChecked'])
  },
  computed: {
    ...mapState(['foodList', 'curIndex', 'selectFood']),
    curRight () {
      return this.foodList[this.curIndex] ? this.foodList[this.curIndex].list : []
    }
  },
  created () {
    if (this.foodList.length > 0) return
    axios.get('/food/list').then(res => {
      if (res.data.code === 1) {
        this.setFoodList(res.data.values)
      } else {
        // this.$toast(res.data.msg)
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  section {
    flex: 1;
    overflow: hidden;
    display: flex;
  }
}
.left {
  width: 100px;
  background: #eeeeee;
  border-right: 2px solid #eeeeee;
  overflow-x: hidden;
  overflow-y: auto;
  p {
    line-height: 60px;
    text-align: center;
  }
  .active {
    background: #ffffff;
    font-weight: bold;
  }
}
.right {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  li {
    width: 33.3%;
    padding: 15px 10px;
    text-align: center;
    color: #888888;
    p {
      line-height: 26px;
    }
  }
  .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 2px solid transparent;
    img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .active {
    .img {
      border: 2px solid tomato;
    }
    p {
      font-weight: bold;
      color: tomato;
    }
  }
}
footer {
  min-height: 120px;
  max-height: 300px;
  box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .top {
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      padding: 5px 20px;
      color: #ffffff;
      background: tomato;
      border-radius: 40px;
    }
  }
  .bottom {
    flex: 1;
    overflow: auto;
    padding-right: 16px;
    padding-top: 16px;
    p {
      float: left;
      border: 1px solid #cccccc;
      padding: 5px 10px;
      margin-left: 16px;
      margin-bottom: 16px;
      position: relative;
      span {
        position: absolute;
        right: -10px;
        top: -10px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        width: 20px;
        height: 20px;
        background: #cccccc;
        color: #ffffff;
      }
    }
  }
}
</style>
