<template>
  <div class="page home">
    <nav>
      <span>logo</span>
      <router-link to="/bookcity">书城</router-link>
      <router-link to="/bookcase">书架</router-link>
      <router-link to="/mine">我的</router-link>
    </nav>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  nav {
    height: 50px;
    border-bottom: 1px solid #dedede;
    background: #efeff0;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    padding: 0 10px;
    a {
      position: relative;
    }
    a.router-link-active {
      color: orange;
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: orange;
      }
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
