<template>
  <div class="about">
    <h1>我的收藏</h1>
    <ol>
      <li v-for="item in like" :key="item.id">
        {{ item.text }}
        <button @click="changeSelect(item)">取消收藏</button>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  computed: {
    like () {
      // 获取仓库的数据
      return this.$store.state.like
    }
  },
  methods: {
    changeSelect (item) {
      // 通过commit调用仓库的函数修改仓库的数据
      this.$store.commit('setLike', item)
    }
  }
}
</script>

<style lang="scss" scoped>
li {
  line-height: 45px;
  border-bottom: 1px dashed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
</style>
