<template>
  <div class="home">
    <h1>歌手列表</h1>
    <ul>
      <li v-for="item in list" :key="item.id">
        {{ item.text }}
        <button @click="setLike(item)">
          {{ item.isSelected ? '已收藏' : '收藏' }}
        </button>
      </li>
    </ul>
    <hr />
    <p>姓名: {{ username }}</p>
    <p>年龄: {{ age }}</p>
    <p>性别: {{ sex }}</p>
    <p>爱好: {{ hobby }}</p>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    // 获取仓库数据的辅助函数
    ...mapState(['list', 'username', 'age', 'sex', 'hobby'])
    // like () {
    //   // 获取仓库的数据
    //   return this.$store.state.like
    // },
    // username () {
    //   // 获取仓库的数据
    //   return this.$store.state.username
    // },
    // age () {
    //   // 获取仓库的数据
    //   return this.$store.state.age
    // }
  },
  methods: {
    // 使用辅助函数获取仓库的 mutations 方法
    ...mapMutations(['setLike', 'setList'])
    // setLike (item) {
    //   // 通过commit调用仓库的函数修改仓库的数据
    //   // this.$store.commit('setLike', item)
    // }
  },
  async created () {
    if (this.list.length === 0) {
      const res = await axios.get('/singer/list')
      if (res.data.code === 1) {
        // 把数据存到仓库
        // this.$store.commit('setList', res.data.values)
        this.setList(res.data.values)
      }
    }
  }
}
</script>
