<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link v-for="item in navlist" :key="item.path" :to="item.path">
        <i v-html="item.icon"></i>
        <span>{{ item.text }}</span>
        <b v-if="item.path === '/cart' && total.count > 0">{{ total.count }}</b>
      </router-link>
    </footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      navlist: [
        {
          text: '配送到家',
          path: '/gohome',
          icon: '<svg t="1657160581473" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2723"><path d="M949.408141 435.168124l-77.728292-67.567885 0-87.451748c0-17.253966-13.96199-31.233352-31.210839-31.233352s-31.210839 13.980409-31.210839 31.233352l0 33.189913L532.967544 73.163323c-0.01535-0.013303-0.031722-0.025583-0.048095-0.038886-2.004657-1.741667-4.186346-3.190669-6.487761-4.339842-0.002047-0.001023-0.005117-0.00307-0.007163-0.004093-0.421602-0.210801-0.848321-0.409322-1.278109-0.599657-0.046049-0.020466-0.092098-0.042979-0.13917-0.063445-0.381693-0.166799-0.76748-0.322341-1.154289-0.473791-0.094144-0.036839-0.187265-0.077771-0.282433-0.113587-0.341784-0.12996-0.686638-0.24764-1.032516-0.36532-0.140193-0.048095-0.278339-0.099261-0.418532-0.145309-0.309038-0.100284-0.621147-0.189312-0.933255-0.279363-0.176009-0.051165-0.352017-0.107447-0.529049-0.155543-0.298805-0.080841-0.599657-0.150426-0.900509-0.223081-0.188288-0.045025-0.375553-0.095167-0.563842-0.1361-0.315178-0.069585-0.633427-0.12689-0.950651-0.186242-0.173962-0.032746-0.346901-0.070608-0.51984-0.100284-0.364297-0.061398-0.729617-0.11154-1.094938-0.160659-0.125867-0.016373-0.25071-0.038886-0.3776-0.054235-0.452301-0.055259-0.906649-0.098237-1.360997-0.13303-0.036839-0.00307-0.074701-0.008186-0.11154-0.010233-4.9088-0.363274-9.899464 0.430812-14.536065 2.407839-0.052189 0.021489-0.104377 0.041956-0.155543 0.064468-0.330528 0.143263-0.656963 0.296759-0.983397 0.452301-0.149403 0.070608-0.299829 0.137123-0.448208 0.210801-0.237407 0.11768-0.470721 0.243547-0.706081 0.367367-0.234337 0.122797-0.468674 0.243547-0.699941 0.372483-0.157589 0.088004-0.313132 0.183172-0.468674 0.274246-0.303922 0.177032-0.607844 0.355087-0.906649 0.542352-0.096191 0.060375-0.189312 0.124843-0.284479 0.186242-0.352017 0.226151-0.701988 0.458441-1.045819 0.699941-0.060375 0.042979-0.119727 0.088004-0.180102 0.130983-0.370437 0.264013-0.737804 0.536212-1.098008 0.818645-0.055259 0.042979-0.10847 0.088004-0.162706 0.130983-0.356111 0.282433-0.708128 0.571005-1.054005 0.870834-0.021489 0.01842-0.042979 0.034792-0.064468 0.053212L205.507514 322.186933l0-31.627325c0-17.253966-13.96199-31.233352-31.210839-31.233352-17.248849 0-31.210839 13.980409-31.210839 31.233352l0 83.289961c0 0.844228 0.042979 1.677199 0.10847 2.50403l-67.661006 58.814524c-13.019525 11.31572-14.396895 31.04097-3.080152 44.054355 6.176676 7.106862 14.854313 10.746762 23.588231 10.746762 7.264451 0 14.564717-2.521426 20.476357-7.66661l395.9581-344.191086 395.9581 344.191086c5.907547 5.14416 13.20679 7.66661 20.476357 7.66661 8.723685 0 17.406438-3.6399 23.577998-10.746762C963.815269 466.208071 962.431759 446.483844 949.408141 435.168124z" p-id="2724"></path><path d="M845.633636 484.671585c-17.248849 0-31.233352 13.980409-31.233352 31.233352L814.400285 826.200028c0 39.133276-26.928303 72.197322-58.807361 72.197322L269.354658 898.397351c-31.879058 0-58.807361-33.064047-58.807361-72.197322L210.547297 515.90596c0-17.253966-13.985526-31.233352-31.233352-31.233352-17.248849 0-31.233352 13.980409-31.233352 31.233352L148.080593 826.200028c0 74.251098 54.405097 134.665049 121.275087 134.665049L755.592924 960.865077c66.86999 0 121.275087-60.413951 121.275087-134.665049L876.868011 515.90596C876.868011 498.651994 862.882486 484.671585 845.633636 484.671585z" p-id="2725"></path><path d="M390.586766 405.783887c-17.248849 0-31.233352 13.980409-31.233352 31.233352l0 30.470989c0 17.253966 13.985526 31.233352 31.233352 31.233352 17.248849 0 31.233352-13.980409 31.233352-31.233352l0-30.470989C421.820118 419.764296 407.835615 405.783887 390.586766 405.783887z" p-id="2726"></path><path d="M634.360815 405.783887c-17.248849 0-31.233352 13.980409-31.233352 31.233352l0 30.470989c0 17.253966 13.985526 31.233352 31.233352 31.233352 17.248849 0 31.233352-13.980409 31.233352-31.233352l0-30.470989C665.59519 419.764296 651.609665 405.783887 634.360815 405.783887z" p-id="2727"></path><path d="M589.269851 546.844599c-14.539134-9.31311-33.841759-5.053086-43.149752 9.455349-0.121773 0.193405-13.379729 19.449981-33.968649 19.449981-20.008706 0-32.454156-18.138102-33.276894-19.378349-9.175987-14.417361-28.269857-18.809391-42.834574-9.750061-14.650675 9.099239-19.145036 28.356838-10.044774 43.007513 11.214413 18.047028 41.980113 48.589648 86.157265 48.589648 43.958164 0 75.100442-30.308283 86.573751-48.223305C608.028077 575.46545 603.793636 556.147476 589.269851 546.844599z" p-id="2728"></path></svg>'
        },
        {
          text: '购物车',
          path: '/cart',
          icon: '<svg t="1657160624776" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3673"><path d="M928.922574 99.438757l-67.214844 0c-15.159258 0-28.122501 10.878768-30.755468 25.803689l-15.35164 86.96977L222.034932 212.212216c-17.253966 0-31.233352 13.979386-31.233352 31.233352s13.979386 31.233352 31.233352 31.233352l582.540589 0-49.773613 281.97407c-8.103562 37.283138-29.688159 81.4388-86.410022 81.4388l-375.389646 0c-32.819476 0-57.504692-5.947456-76.324316-82.851986-0.11154-0.477884-0.243547-0.945535-0.376577-1.413186l-90.304725-306.293965c-4.89038-16.531512-22.23542-25.986861-38.797631-21.12718-16.541745 4.880147-25.997094 22.245653-21.12718 38.797631l90.101087 305.603233c15.830547 64.286142 44.582381 129.752156 136.829342 129.752156l375.389646 0c74.79959 0 129.97626-49.107441 147.605779-131.348514 0.081864-0.376577 0.152473-0.741897 0.213871-1.118474l71.697949-406.186046 41.014112 0c17.253966 0 31.233352-13.979386 31.233352-31.233352S946.17654 99.438757 928.922574 99.438757z" p-id="3674"></path><path d="M361.610828 333.028862c-17.253966 0-31.233352 13.979386-31.233352 31.233352l0 30.470989c0 17.253966 13.979386 31.233352 31.233352 31.233352 17.253966 0 31.233352-13.979386 31.233352-31.233352l0-30.470989C392.84418 347.008248 378.86377 333.028862 361.610828 333.028862z" p-id="3675"></path><path d="M605.376691 333.028862c-17.253966 0-31.233352 13.979386-31.233352 31.233352l0 30.470989c0 17.253966 13.979386 31.233352 31.233352 31.233352 17.253966 0 31.233352-13.979386 31.233352-31.233352l0-30.470989C636.610042 347.008248 622.630656 333.028862 605.376691 333.028862z" p-id="3676"></path><path d="M560.28982 474.086505c-14.539134-9.292644-33.845853-5.083785-43.149752 9.455349-0.121773 0.193405-13.379729 19.449981-33.968649 19.449981-20.008706 0-32.453133-18.127869-33.287127-19.378349-9.17087-14.407128-28.274974-18.809391-42.824341-9.750061-14.650675 9.099239-19.155269 28.355815-10.044774 43.00649 11.214413 18.047028 41.980113 48.588625 86.156242 48.588625 43.952025 0 75.094302-30.308283 86.572728-48.222281C579.048045 502.717589 574.818721 483.389382 560.28982 474.086505z" p-id="3677"></path><path d="M296.093649 739.519854c-51.668777 0-93.700055 42.031279-93.700055 93.700055 0 51.668777 42.031279 93.700055 93.700055 93.700055 51.668777 0 93.700055-42.031279 93.700055-93.700055C389.793704 781.550109 347.762425 739.519854 296.093649 739.519854zM296.093649 864.453261c-17.223267 0-31.233352-14.010085-31.233352-31.233352 0-17.223267 14.010085-31.233352 31.233352-31.233352s31.233352 14.010085 31.233352 31.233352C327.327 850.443176 313.316915 864.453261 296.093649 864.453261z" p-id="3678"></path><path d="M670.89387 739.519854c-51.668777 0-93.700055 42.031279-93.700055 93.700055 0 51.668777 42.031279 93.700055 93.700055 93.700055 51.668777 0 93.700055-42.031279 93.700055-93.700055C764.593925 781.550109 722.56367 739.519854 670.89387 739.519854zM670.89387 864.453261c-17.223267 0-31.233352-14.010085-31.233352-31.233352 0-17.223267 14.010085-31.233352 31.233352-31.233352s31.233352 14.010085 31.233352 31.233352C702.127222 850.443176 688.117137 864.453261 670.89387 864.453261z" p-id="3679"></path></svg>'
        },
        {
          text: '我的',
          path: '/mine',
          icon: '<svg t="1657160647282" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4592"><path d="M371.319957 639.999233c-0.201591-0.167822-0.348947-0.37453-0.555655-0.538259-68.492954-54.16155-97.717555-109.608374-97.717555-185.393407 0-17.250896-13.981433-31.236422-31.236422-31.236422s-31.237445 13.986549-31.237445 31.236422c0 83.274612 30.083156 151.037948 94.031607 210.831776C207.274764 741.187843 153.244196 819.379693 126.838803 920.827199c-4.341888 16.696264 5.664 33.758871 22.360264 38.10076 2.644223 0.681522 5.287423 1.017166 7.890714 1.017166 13.880125 0 26.549679-9.324366 30.210046-23.376407 25.166169-96.705506 80.644715-169.906691 185.489598-244.770749 14.042831-10.026354 17.295921-29.53364 7.270591-43.571355C377.636826 644.831284 374.640586 642.099057 371.319957 639.999233z" p-id="4593"></path><path d="M898.081149 920.725892c-26.666336-101.043301-79.924307-178.587398-175.113273-253.587556 65.422012-59.791781 96.186689-128.295991 96.186689-213.069747 0-17.250896-13.981433-31.236422-31.236422-31.236422s-31.237445 13.986549-31.237445 31.236422c0 75.748195-30.540573 133.269259-98.849332 186.244798-4.272303 2.204202-8.149611 5.301749-11.131525 9.484002-10.026354 14.037714-6.77224 33.545 7.270591 43.571355 104.58087 74.680886 157.811212 145.167241 183.710069 243.301282 3.691065 14.012132 16.340153 23.275099 30.179346 23.275099 2.63399 0 5.318122-0.335644 7.992021-1.046842C892.52869 954.493973 902.483412 937.411923 898.081149 920.725892z" p-id="4594"></path><path d="M237.548254 388.711046c16.950044-2.933819 28.329209-19.080567 25.460882-36.046984-0.152473-0.880043-14.224979-88.50473 39.96113-152.621003 40.98853-48.507784 111.281479-73.099878 208.927403-73.099878 97.726765 0 168.193677 24.638143 209.456453 73.226768 54.492078 64.161299 40.866756 151.766542 40.733727 152.528905-2.918469 17.001209 8.490372 33.154098 25.501814 36.07666 1.789763 0.310062 3.569292 0.457418 5.328355 0.457418 14.926968 0 28.125571-10.737552 30.749328-25.948999 0.803295-4.703115 18.953677-116.172883-54.146201-202.912409C715.89376 96.735182 629.209492 64.47136 511.898693 64.47136c-117.30159 0-203.823152 32.258705-257.1855 95.886861-72.794933 86.806042-54.074569 198.367907-53.240575 203.075115C204.470905 380.38338 220.658585 391.670447 237.548254 388.711046z" p-id="4595"></path><path d="M401.406183 366.915647c-17.256012 0-31.237445 13.986549-31.237445 31.237445l0 33.320896c0 17.250896 13.981433 31.236422 31.237445 31.236422s31.236422-13.986549 31.236422-31.236422l0-33.320896C432.642604 380.902196 418.661172 366.915647 401.406183 366.915647z" p-id="4596"></path><path d="M623.541399 366.915647c-17.256012 0-31.237445 13.986549-31.237445 31.237445l0 33.320896c0 17.250896 13.981433 31.236422 31.237445 31.236422s31.236422-13.986549 31.236422-31.236422l0-33.320896C654.778844 380.902196 640.797411 366.915647 623.541399 366.915647z" p-id="4597"></path><path d="M589.505211 498.986615c-14.317077-9.410324-33.585933-5.398964-43.164079 8.759501-0.132006 0.193405-13.615089 19.756973-34.175357 19.756973-19.990287 0-32.43676-18.119683-33.270754-19.37528-9.182127-14.418384-28.288277-18.816554-42.838667-9.761318-14.652721 9.105379-19.157315 28.369118-10.045797 43.021839 11.215436 18.043958 41.974997 48.588625 86.155219 48.588625 43.967374 0 75.112722-30.316469 86.582961-48.233538C607.970772 527.3455 603.781356 508.386706 589.505211 498.986615z" p-id="4598"></path></svg>'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['total'])
  }
}
</script>

<style lang="scss">
.router-link-active i .icon {
  fill: orange !important;
}
</style>

<style lang="scss" scoped>
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 60px;
    border-top: 1px solid #eeeeee;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #333333;
      position: relative;
      i {
        width: 26px;
        height: 26px;
      }
      span {
        font-size: 12px;
      }
      b {
        position: absolute;
        left: calc(50% + 8px);
        top: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
        background: red;
        color: #ffffff;
      }
    }
    .router-link-active {
      color: orange;
    }
  }
}
</style>
