<template>
  <div>
    <Header
      :sortType="sortType"
      @changeAll="changeAll"
      @reverse="reverse"
      @batchDel="batchDel"
      @clear="list = []"
      @add="addItem"
      @sort="changeSort"
      @search="searchList"
    />
    <table>
      <thead>
        <tr>
          <th v-for="item in thead" :key="item">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in curList" :key="item.id">
          <td><input type="checkbox" v-model="item.checked"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>
            <button :disabled="item.count <= 0" @click="item.count--">-</button>
            {{ item.count }}
            <button @click="item.count++">+</button>
          </td>
          <td>{{ format(item.createTime) }}</td>
          <td>¥{{ item.price }}</td>
          <td>¥{{ (item.price * item.count).toFixed(2) }}</td>
          <td>
            <button @click="remove(item.id)">删除</button>
            <button @click="edit(item)">修改</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">总价: ¥{{ total }}</td>
        </tr>
      </tfoot>
    </table>
    <MessageBox
      :title="boxTitle"
      :visible="showMark"
      @close="showMark = false"
      @cancel="showMark = false"
      @ok="messageOk"
    >
      <div class="form">
        <p>
          <span>名称：</span>
          <input v-model="formData.name" type="text">
        </p>
        <p>
          <span>产地：</span>
          <input v-model="formData.address" type="text">
        </p>
        <p>
          <span>价格：</span>
          <input v-model.number="formData.price" type="number">
        </p>
      </div>
    </MessageBox>
  </div>
</template>

<script>
import moment from 'moment'
import Header from './components/Header.vue'
import MessageBox from './components/MessageBox.vue'

export default {
  data () {
    return {
      boxTitle: '添加商品',
      showMark: false, // 控制弹窗显示隐藏
      thead: ['选项', '名称', '产地', '数量', '生产时间', '单价', '小计', '操作'],
      list: [
        {
          id: 0,
          checked: false,
          name: '云南白药',
          address: '云南',
          count: 0,
          createTime: 1371076893000,
          price: 10
        },
        {
          id: 1,
          checked: false,
          name: '六神丸',
          address: '北京',
          count: 0,
          createTime: 1402620093000,
          price: 5
        },
        {
          id: 2,
          checked: false,
          name: '999感冒灵',
          address: '北京',
          count: 0,
          createTime: 1402620093000,
          price: 9.9
        }
      ],
      formData: {
        name: '',
        address: '',
        price: ''
      },
      editInfo: null, // 要编辑的商品
      sortType: 0, // 0: 默认排序, 1: 升序, 2: 降序
      searchText: ''
    }
  },
  methods: {
    format (time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    },
    // 全选
    changeAll (flag) {
      this.list.forEach(item => {
        item.checked = flag
      })
    },
    // 反选
    reverse () {
      this.list.forEach(item => {
        item.checked = !item.checked
      })
    },
    // 批量删除
    batchDel () {
      this.list = this.list.filter(item => !item.checked)
    },
    addItem () {
      this.boxTitle = '添加商品'
      this.editInfo = null // 清空编辑对象
      this.showMark = true
      this.clearFormData()
    },
    // 添加商品
    pushItem () {
      this.list.push({
        id: Date.now(),
        checked: false,
        count: 0,
        createTime: Date.now(),
        ...this.formData
      })
      this.showMark = false
      this.clearFormData()
    },
    // 弹窗确定按钮
    messageOk () {
      // 如果要编辑的商品存在，调用编辑函数
      if (this.editInfo) {
        const index = this.list.findIndex(item => item.id === this.editInfo.id)
        this.list.splice(index, 1, {
          ...this.list[index],
          ...this.formData
        })
        this.showMark = false
      } else {
        this.pushItem()
      }
    },
    // 清空弹窗内表单的数据
    clearFormData () {
      Object.keys(this.formData).forEach(key => {
        this.formData[key] = ''
      })
    },
    // 删除
    remove (id) {
      this.list = this.list.filter(item => item.id !== id)
    },
    // 修改
    edit (info) {
      this.editInfo = { ...info } // 存起来要编辑的商品
      this.boxTitle = '编辑商品'
      this.showMark = true
      Object.keys(this.formData).forEach(key => {
        this.formData[key] = info[key]
      })
    },
    // 修改排序方式
    changeSort () {
      this.sortType++
      if (this.sortType > 2) {
        this.sortType = 0
      }
    },
    searchList (text) {
      console.log(text)
      this.searchText = text
    }
  },
  computed: {
    total () {
      return this.list.reduce((prev, val) => {
        return prev + val.count * val.price
      }, 0).toFixed(2)
    },
    curList () {
      const list = [...this.list].filter(item => item.name.includes(this.searchText))
      if (this.sortType === 1) {
        list.sort((a, b) => a.price - b.price)
      } else if (this.sortType === 2) {
        list.sort((a, b) => b.price - a.price)
      }
      return list
    }
  },
  components: {
    Header,
    MessageBox
  }
}
</script>

<style lang="scss">
table {
  border-collapse: collapse;
  margin: 10px 0;
  th, td {
    border: 1px solid;
    padding:  10px 20px;
  }
  thead {
    background: skyblue;
  }
  tfoot {
    background: #dddddd;
  }
}
.form {
  p {
    display: flex;
    span {
      width: 80px;
      text-align: right;
    }
    input {
      flex: 1;
    }
  }
}
</style>
