<template>
  <div class="tab">
    <nav>
      <span
        v-for="(item, index) in tablist"
        :key="item.singer"
        :class="{ active: curIndex === index }"
        @click="changeIndex(index)"
        >{{ item.singer }}</span
      >
    </nav>
    <ul>
      <li v-for="item in curList" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      tablist: [
        {
          singer: '徐良',
          songs: ['坏女孩', '和平分手', '飞机场']
        },
        {
          singer: '许嵩',
          songs: ['灰色头像', '素颜', '玫瑰花的葬礼']
        },
        {
          singer: '周杰伦',
          songs: ['夜曲', '一路向北', '稻香']
        }
      ],
      curIndex: 0
    }
  },
  methods: {
    changeIndex (i) {
      this.curIndex = i
    }
  },
  computed: {
    curList () {
      return this.tablist[this.curIndex].songs
    }
  }
}
</script>

<style lang="scss">
nav {
  width: 300px;
  display: flex;
  border-bottom: 1px solid;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    &.active {
      background: orange;
      color: #ffffff;
    }
  }
}
</style>
