<template>
  <div>
    <h3>列表页面</h3>
    <main v-loading="loading">
      <el-row type="flex" justify="space-between">
        <el-col :span="12">
          <el-input size="small" placeholder="请输入内容" v-model="inputText">
            <el-button
              size="small"
              class="search-btn"
              slot="append"
              icon="el-icon-search"
              @click="searchFn"
              >搜索</el-button
            >
          </el-input>
        </el-col>
        <el-col :span="2">
          <el-button @click="showAddDialog" size="small" type="primary" icon="el-icon-plus">新增</el-button>
        </el-col>
      </el-row>
      <div v-if="searchText" class="search-tip">以下列表包涵"{{searchText}}"字符</div>
      <el-table
        header-row-class-name="table-header-q"
        :data="tableData"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column fixed prop="id" label="id" width="200"></el-table-column>
        <el-table-column prop="index" label="序号" width="120"></el-table-column>
        <el-table-column prop="name" label="姓名" width="120"></el-table-column>
        <el-table-column prop="sex" label="性别" width="120">
          <template slot-scope="scope">
            {{ scope.row.sex ? '男' : '女' }}
          </template>
        </el-table-column>
        <el-table-column prop="age" label="年龄" width="120"></el-table-column>
        <el-table-column prop="num" label="分数" width="120"></el-table-column>
        <el-table-column prop="region" label="大区" width="120">
          <template slot-scope="scope">
            {{ scope.row.region ? scope.row.region : '--' }}
          </template>
        </el-table-column>
        <el-table-column prop="province" label="省份" width="120">
          <template slot-scope="scope">
            {{ scope.row.province ? scope.row.province : '--' }}
          </template>
        </el-table-column>
        <el-table-column prop="city" label="市区" width="120">
          <template slot-scope="scope">
            {{ scope.row.city ? scope.row.city : '--' }}
          </template>
        </el-table-column>
        <el-table-column prop="county" label="区/县" width="120">
          <template slot-scope="scope">
            {{ scope.row.county ? scope.row.county : '--' }}
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="120">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
            <el-button @click="showEdit(scope.row)" type="text" size="small">编辑</el-button>
            <el-popconfirm title="确定删除此项数据吗？" placement="top" @confirm="remove(scope.row.id)">
              <el-button class="danger" type="text" size="small" slot="reference">删除</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
      <el-button @click="delSome" type="danger">批量删除</el-button>
      <el-pagination
        background
        layout="total, sizes, prev, pager, next, jumper"
        :current-page="pageNum"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      >
      </el-pagination>
    </main>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-form-item label="姓名" prop="name">
          <el-input v-model.trim="form.name"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
          <el-select v-model="form.sex" placeholder="请选择性别">
            <el-option label="男" :value="1"></el-option>
            <el-option label="女" :value="0"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="年龄" prop="age">
          <el-input v-model.number="form.age"></el-input>
        </el-form-item>
        <el-form-item label="分数" prop="num">
          <el-input v-model.number="form.num"></el-input>
        </el-form-item>
        <el-form-item label="大区" prop="region">
          <el-input v-model="form.region"></el-input>
        </el-form-item>
        <el-form-item label="省份" prop="province">
          <el-input v-model="form.province"></el-input>
        </el-form-item>
        <el-form-item label="城市" prop="city">
          <el-input v-model="form.city"></el-input>
        </el-form-item>
        <el-form-item label="区/县" prop="county">
          <el-input v-model="form.county"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleOk">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      inputText: '',
      searchText: '',
      tableData: [],
      pageNum: 1,
      pageSize: 10,
      total: 0,
      loading: false,
      dialogTitle: '新增数据',
      dialogFormVisible: false,
      form: {
        name: '',
        age: '',
        sex: '',
        num: '',
        region: '',
        province: '',
        city: '',
        county: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, message: '至少两个字符', trigger: 'change' }
        ],
        age: [
          { required: true, message: '请输入年龄', trigger: 'change' },
          { type: 'number', message: '请输入数字', trigger: 'change' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        num: [
          { required: true, message: '请输入分数', trigger: 'change' },
          { type: 'number', message: '请输入数字', trigger: 'change' }
        ]
      },
      selectionData: [] // 选中的数据
    }
  },
  watch: {
    pageNum: 'getTableList',
    pageSize: 'getTableList',
    dialogFormVisible () {
      // 弹窗隐藏清空弹窗内的数据
      if (!this.dialogFormVisible) {
        this.$refs.form.resetFields()
        this.form = {
          name: '',
          age: '',
          sex: '',
          num: '',
          region: '',
          province: '',
          city: '',
          county: ''
        }
      }
    }
  },
  methods: {
    handleSizeChange (val) {
      this.pageSize = val
    },
    handleCurrentChange (val) {
      this.pageNum = val
    },
    getTableList () {
      this.loading = true
      let finish = false // false:都没有完成，true: 已经有一个执行了 标识接口是否执行完成
      setTimeout(() => {
        if (finish) { // 2s之后判断接口如果走完了立即关闭loading
          this.loading = false
        }
        finish = true
      }, 1000)

      axios.get('/api/list', {
        params: {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          keywords: this.searchText
        }
      }).then(res => {
        if (finish) { // 如果接口超过 2s 关闭loading
          this.loading = false
        }
        finish = true
        this.total = res.data.values.total
        this.tableData = res.data.values.list
      })
    },
    searchFn () {
      this.pageNum = 1
      this.searchText = this.inputText
      this.getTableList()
    },
    remove (id) {
      axios.get('/api/del', {
        params: { ids: id }
      }).then(res => {
        if (res.data.code === 1) {
          this.$message.success('删除成功')
          this.getTableList()
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    showAddDialog () {
      this.dialogTitle = '新增数据'
      this.dialogFormVisible = true
    },
    handleOk () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          console.log(this.form.id)
          if (this.form.id) {
            this.edit()
          } else {
            this.add()
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    add () {
      axios.get('/api/add', {
        params: { ...this.form }
      }).then(res => {
        console.log(res.data)
        if (res.data.code === 1) {
          this.$message.success('添加成功')
          this.dialogFormVisible = false
          this.getTableList() // 更新数据
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    showEdit (row) {
      this.dialogTitle = '编辑数据'
      this.dialogFormVisible = true
      this.form = { ...row }
    },
    edit () {
      axios.get('/api/edit', {
        params: { ...this.form }
      }).then(res => {
        if (res.data.code === 1) {
          this.$message.success('修改成功')
          this.dialogFormVisible = false
          this.getTableList() // 更新数据
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    handleSelectionChange (val) {
      this.selectionData = val
    },
    delSome () {
      axios.get('/api/del', {
        params: {
          ids: this.selectionData.map(v => v.id).join(',')
        }
      }).then(res => {
        if (res.data.code === 1) {
          this.$message.success('删除成功')
          this.getTableList()
        } else {
          this.$message.error(res.data.msg)
        }
      })
    }
  },
  created () {
    this.getTableList()
  }
}
</script>

<style lang="scss" scoped>
main {
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  background: #ffffff;
  overflow: hidden;
}
.search-btn {
  color: #fff !important;
  background-color: #409eff !important;
  border-color: #409eff !important;
}
::v-deep .el-input-group__append {
  background-color: #409eff;
  border-color: #409eff;
}
::v-deep .el-input__inner,
.el-input__inner:hover {
  border-color: #409eff !important;
}
.el-table {
  margin: 20px 0;
}
::v-deep .table-header-q th {
  background: #ebecf0 !important;
  color: #333333;
}
.el-pagination {
  float: right;
}
.danger, .danger:hover {
  color: #f56c6c;
  margin-left: 10px;
}
.search-tip {
  padding-top: 20px;
  font-size: 14px;
  color: tomato;
}
</style>
