* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}
header {
  padding: 20px 50px;
  display: flex;
  span {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .active {
    border: 2px solid #333333;
  }
}
h1, h3 {
  text-align: center;
}
h1 {
  margin: 70px;
  font: bold 48pt "Trebuchet MS";
}
h3 {
  margin-bottom: 30px;
}
.con {
  width: 70%;
  min-height: 50px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  input {
    height: 30px;
    border: none;
    outline: none;
  }
  .tag {
    line-height: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 0 15px;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
    position: relative;
    padding-left: 40px;
    &::before {
      content: '';
      position: absolute;
      height: 11px;
      left: 0;
      top: 0;
      border: 10px solid transparent;
      border-left-color: #ffffff;
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
    &::after {
      content: '';
      position: absolute;
      left: 20px;
      top: 12px;
      width: 6px;
      height: 6px;
      background: #ffffff;
      border-radius: 50%;
    }
    span {
      display: none;
      position: absolute;
      left: 15px;
      top: 7px;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        color: #333333;
      }
    }
    &:hover {
      &::after {
        display: none;
      }
      span {
        display: block;
      }
    }
  }
}