<template>
  <div class="form-item">
    <span :style="{width: labelWidth + 'px'}">{{label}}：</span>
    <input type="text" :value="value" @input="change">
  </div>
</template>

<script>
export default {
  props: ['label', 'labelWidth', 'value'],
  methods: {
    change (e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  width: 100%;
  display: flex;
  padding: 10px 0;
  span {
    width: 100px;
    text-align: right;
  }
  input {
    flex: 1;
  }
}
</style>
