<template>
  <div>
    <button @click="login">登陆</button>
  </div>
</template>

<script>
export default {
  methods: {
    login () {
      // 掉接口成功以后把接口返回的token存到本地
      localStorage.setItem('token', '123token')
      const fromPath = this.$route.query.fromPath || '/'
      this.$router.push(fromPath)
    }
  }
}
</script>

<style>

</style>
