<template>
  <div class="detail">
    <div class="list">
      <div class="row" v-for="item in moduleList" :key="item.instanceId">
        <Banner
          v-if="item.moduleName === 'slider'"
          :dataList="item.data.wareImgList"
          :cornerSign="item.data.cornerSign"
        />
      </div>
    </div>
    <footer>
      <div class="left">
        <router-link to="/cart" class="cart">
          <svg t="1657160624776" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3673"><path d="M928.922574 99.438757l-67.214844 0c-15.159258 0-28.122501 10.878768-30.755468 25.803689l-15.35164 86.96977L222.034932 212.212216c-17.253966 0-31.233352 13.979386-31.233352 31.233352s13.979386 31.233352 31.233352 31.233352l582.540589 0-49.773613 281.97407c-8.103562 37.283138-29.688159 81.4388-86.410022 81.4388l-375.389646 0c-32.819476 0-57.504692-5.947456-76.324316-82.851986-0.11154-0.477884-0.243547-0.945535-0.376577-1.413186l-90.304725-306.293965c-4.89038-16.531512-22.23542-25.986861-38.797631-21.12718-16.541745 4.880147-25.997094 22.245653-21.12718 38.797631l90.101087 305.603233c15.830547 64.286142 44.582381 129.752156 136.829342 129.752156l375.389646 0c74.79959 0 129.97626-49.107441 147.605779-131.348514 0.081864-0.376577 0.152473-0.741897 0.213871-1.118474l71.697949-406.186046 41.014112 0c17.253966 0 31.233352-13.979386 31.233352-31.233352S946.17654 99.438757 928.922574 99.438757z" p-id="3674"></path><path d="M361.610828 333.028862c-17.253966 0-31.233352 13.979386-31.233352 31.233352l0 30.470989c0 17.253966 13.979386 31.233352 31.233352 31.233352 17.253966 0 31.233352-13.979386 31.233352-31.233352l0-30.470989C392.84418 347.008248 378.86377 333.028862 361.610828 333.028862z" p-id="3675"></path><path d="M605.376691 333.028862c-17.253966 0-31.233352 13.979386-31.233352 31.233352l0 30.470989c0 17.253966 13.979386 31.233352 31.233352 31.233352 17.253966 0 31.233352-13.979386 31.233352-31.233352l0-30.470989C636.610042 347.008248 622.630656 333.028862 605.376691 333.028862z" p-id="3676"></path><path d="M560.28982 474.086505c-14.539134-9.292644-33.845853-5.083785-43.149752 9.455349-0.121773 0.193405-13.379729 19.449981-33.968649 19.449981-20.008706 0-32.453133-18.127869-33.287127-19.378349-9.17087-14.407128-28.274974-18.809391-42.824341-9.750061-14.650675 9.099239-19.155269 28.355815-10.044774 43.00649 11.214413 18.047028 41.980113 48.588625 86.156242 48.588625 43.952025 0 75.094302-30.308283 86.572728-48.222281C579.048045 502.717589 574.818721 483.389382 560.28982 474.086505z" p-id="3677"></path><path d="M296.093649 739.519854c-51.668777 0-93.700055 42.031279-93.700055 93.700055 0 51.668777 42.031279 93.700055 93.700055 93.700055 51.668777 0 93.700055-42.031279 93.700055-93.700055C389.793704 781.550109 347.762425 739.519854 296.093649 739.519854zM296.093649 864.453261c-17.223267 0-31.233352-14.010085-31.233352-31.233352 0-17.223267 14.010085-31.233352 31.233352-31.233352s31.233352 14.010085 31.233352 31.233352C327.327 850.443176 313.316915 864.453261 296.093649 864.453261z" p-id="3678"></path><path d="M670.89387 739.519854c-51.668777 0-93.700055 42.031279-93.700055 93.700055 0 51.668777 42.031279 93.700055 93.700055 93.700055 51.668777 0 93.700055-42.031279 93.700055-93.700055C764.593925 781.550109 722.56367 739.519854 670.89387 739.519854zM670.89387 864.453261c-17.223267 0-31.233352-14.010085-31.233352-31.233352 0-17.223267 14.010085-31.233352 31.233352-31.233352s31.233352 14.010085 31.233352 31.233352C702.127222 850.443176 688.117137 864.453261 670.89387 864.453261z" p-id="3679"></path></svg>
          <b v-if="total.count > 0">{{ total.count }}</b>
        </router-link>
      </div>
      <button @click="addCart">加入购物车</button>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'
import Banner from '@/components/Banner.vue'
import { mapGetters, mapMutations, mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      moduleList: [],
      wareId: ''
    }
  },
  methods: {
    ...mapMutations(['addCartList']),
    ...mapActions(['getList']),
    addCart () {
      this.addCartList({
        wareId: this.wareId
      })
      this.$toast('添加成功')
    }
  },
  computed: {
    ...mapState(['wareList']),
    ...mapGetters(['total'])
  },
  async created () {
    if (this.wareList.length === 0) {
      this.getList()
    }
    const res = await axios({
      url: 'https://detail.dmall.com/waredetail/main',
      method: 'post',
      data: {
        param: {
          storeId: this.$route.params.storeId,
          skuId: this.$route.params.skuId,
          moduleCodes: 'slider,warebase,shipment,promotion,store,description',
          longitude: 116.504987,
          latitude: 40.03378
        },
        token:
          '0F279CADD97F1FFCDC35F32A19EE6FC3B12C470CD0824D7AB76E996CF2DE98A89A263236F1487F84A852ECE8EE5F132B340F555ACEF43C49AA4E66D9627AD58937CC396D42CED150BD749B4068319800B02B8689FDC7CF15E079883035E9C645338DE79C6EDC31E57F61907E2D1AB191B1344B57A9C14B4E4CB073E982813611',
        source: 2,
        tempid: 'C9C8436F7B1000022B2318D9BF981504',
        pubParam: {},
        d_track_data: {
          session_id: 'C9E45758DEA000021D19159052B23250',
          uuid: 'C9C8436F7B1000022B2318D9BF981504',
          project: '微信商城',
          env: 'mweb',
          tdc: '',
          tpc: ''
        }
      },
      // 调用接口之前会先执行此数组中的所有函数
      transformRequest: [
        function (data) {
          // data: 接口传给后端的数据
          // 把data转换格式城 => 'param={venderId: 1,storeId: 12527,businessCode: 1,from: 1,categoryType: 1,pageNum: 1,pageSize: 20,categoryId: "11340",categoryLevel: 1}&a=100&b=200'
          let str = ''
          Object.keys(data).forEach((key) => {
            str += `${key}=${JSON.stringify(data[key])}&`
          })
          str = str.slice(0, -1)
          return str
        }
      ],
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
      }
    })
    this.moduleList = res.data.data.moduleList
    this.wareId = res.data.data.global.wareId
  },
  components: {
    Banner
  }
}
</script>

<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  .list {
    flex: 1;
    overflow: auto;
  }
  footer {
    height: 50px;
    border-top: 1px solid #eeeeee;
    display: flex;
    .left {
      flex: 1;
      padding: 10px 20px;
    }
    .cart {
      width: 30px;
      height: 30px;
      position: relative;
      display: block;
      .icon {
        width: 30px;
        height: 30px;
        transform: rotateY(180deg);
      }
      b {
        position: absolute;
        left: calc(50% + 8px);
        top: 0px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
        background: red;
        color: #ffffff;
      }
    }
    button {
      width: 100px;
      height: 100%;
      background: orange;
      color: #ffffff;
      border: none;
    }
  }
}
</style>
