<template>
  <div>
    <TitleBar title="个人中心">
      <template v-slot:right>
        <router-link class="gohome" to="/"><svg t="1656662288527" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4787" width="28" height="28"><path d="M969.6 502.4l-118.4-112-323.2-300.8c-9.6-9.6-22.4-9.6-32 0l-313.6 297.6c-3.2 3.2-6.4 6.4-9.6 9.6l-118.4 112c-9.6 9.6-9.6 22.4 0 32s22.4 9.6 32 0l83.2-80 0 393.6c0 48 41.6 89.6 92.8 89.6l83.2 0c38.4 0 70.4-28.8 70.4-67.2l0-217.6 99.2 0 99.2 0 0 217.6c0 35.2 32 67.2 70.4 67.2l83.2 0c51.2 0 92.8-38.4 92.8-89.6l0-396.8 80 73.6c9.6 9.6 22.4 9.6 32 0C979.2 524.8 979.2 512 969.6 502.4zM809.6 857.6c0 25.6-19.2 44.8-44.8 44.8l-83.2 0c-12.8 0-22.4-9.6-22.4-22.4L659.2 640c0-12.8-9.6-22.4-22.4-22.4l-121.6 0-121.6 0c-12.8 0-22.4 9.6-22.4 22.4l0 240c0 12.8-9.6 22.4-22.4 22.4l-83.2 0c-25.6 0-44.8-19.2-44.8-44.8l0-438.4 294.4-281.6 294.4 281.6L809.6 857.6z" p-id="4788"></path></svg></router-link>
      </template>
    </TitleBar>
    <button @click="changeImg">切换图片地址</button>
    <img v-if="num < 5" v-img="url" alt="">
    <div>
      {{ num }}
      <button @click="num++">+</button>
    </div>
  </div>
</template>

<script>
import TitleBar from '@/components/TitleBar.vue'
export default {
  data () {
    return {
      num: 0,
      flag: true,
      url: 'http://cover.read.duokan.com/mfsv2/download/s010/p01iW94dzV6R/4zZpS5M6Zy8WO1.jpg'
    }
  },
  methods: {
    changeImg () {
      this.flag = !this.flag
      this.url = this.flag ? 'http://cover.read.duokan.com/mfsv2/download/s010/p01iW94dzV6R/4zZpS5M6Zy8WO1.jpg' : 'http://cover.read.duokan.com/mfsv2/download/fdsc3/p01TQfpyV6px/06EirDzmjj8zuK.jpg'
    }
  },
  components: {
    TitleBar
  }
}
</script>

<style lang="scss" scoped>
.gohome {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  height: 135px;
}
</style>
