<template>
  <div>{{ text }}</div>
</template>

<script>
export default {
  data () {
    return {
      text: ''
    }
  },
  watch: {
    $route: {
      handler () {
        console.log(this.$route)
        // this.text = this.$route.query.text
        this.text = this.$route.params.id
      },
      immediate: true
    }
  }
}
</script>

<style>

</style>
