<template>
  <div id="app">
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/about">关于</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    margin: 0 20px;
    color: #333333;
    &.router-link-exact-active {
      color: red;
      font-weight: bold;
    }
  }
}
</style>
