* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  min-height: 400px;
  min-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.dialog-con {
  flex: 1;
}
.dialog-header {
  border-bottom: 1px solid;
  height: 50px;
}
.dialog-footer {
  border-top: 1px solid;
  height: 50px;
}