<import src="songlist.skeleton.wxml"/>
<template is="skeleton" wx-if="{{loading}}" />
<view wx:else class="songlist"  style="padding-top: {{titleBarHeight}};">
  <view class="bg">
    <image src="{{info.coverImgUrl}}"></image>
  </view>
  <titleBar title="歌单" opacity="{{true}}" background="{{info.coverImgUrl}}" />
  <view class="detail">
    <view class="list-desc">
      <view class="cover">
        <image src="{{info.coverImgUrl}}"></image>
        <view class="playCount">{{info.playCount}}</view>
      </view>
      <view class="desc">
        <view class="list-name">{{info.name}}</view>
        <view class="creater">
          <image src="{{info.creator.avatarUrl}}"></image>
          <view>{{info.creator.nickname}}</view>
        </view>
        <view class="description {{info.description.length >= 31 ? 'more' : ''}}" bindtap="goDetail">
          {{info.description}}
        </view>
      </view>
    </view>
    <view class="share">分享给微信好友</view>
  </view>
  <view class="songs">
    <view class="play-all">播放全部</view>
    <view class="songs-list">
      <view class="item" wx:for="{{songs}}" wx:key="id" bindtap="goPlay" data-id="{{item.id}}">
        <view class="num">{{index + 1}}</view>
        <view class="song-info">
          <view class="name">{{item.name}}</view>
          <view class="singer">
            <text wx:for="{{item.ar}}" wx:key="name" wx:for-item="val">{{val.name}}</text>
          </view>
        </view>
        <image src=""></image>
      </view>
    </view>
  </view>
</view>
