<template>
  <div>
    <img :src="info.poster" alt="">
    <h2>{{ info.name }}</h2>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  created () {
    console.log('获取路由参数', this.$route)
    // console.log('获取query参数', this.$route.query)
    // console.log('获取动态路由参数', this.$route.params)
    axios.get('/movie/detail', {
      params: { filmId: this.$route.params.filmId }
    }).then(res => {
      console.log(res.data)
      this.info = res.data.values
    })
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
</style>
