* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header {
  background: skyblue;
  height: 100px;
}
main {
  background: tomato;
  height: 400px;
}
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  button {
    width: 100%;
    height: 40px;
  }
  img {
    width: 100%;
  }
}