<template>
  <div class="home">
    <header>备忘录</header>
    <main>
      <router-view />
    </main>
    <footer>
      <router-link v-for="item in navlist" :key="item.path" :to="item.path">
        <i v-html="item.icon"></i>
        <span>{{item.text}}</span>
      </router-link>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navlist: [
        {
          path: '/memo',
          icon: '<svg t="1659335130105" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2065" width="32" height="32"><path d="M654.66140201 823.35590658H181.37959755V103.28028987h613.3398962v165.31020122h-71.33070099V168.36304627H252.71029856v589.9101039h401.95110345z" fill="" p-id="2066"></path><path d="M842.09974041 864.74853963h-135.89279533V363.35098442l67.94639768-56.49183257 67.94639765 56.49183257v501.39755521z m-91.37618998-44.25627436h47.38024665V384.17746644l-23.69012333-19.78515792-23.69012332 19.78515792v436.31479883zM349.29310902 254.27228469h270.74426657v44.25627436h-270.74426657zM350.59476415 350.59476415h270.74426658v44.25627436H350.59476415zM347.9914539 449.52055386h192.6449589v44.25627436h-192.6449589z" fill="" p-id="2067"></path></svg>',
          text: '备忘录'
        },
        {
          path: '/create',
          icon: '<svg t="1659335232264" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4112" width="32" height="32"><path d="M158 236.9v549.7h706.8V236.9H158zM682.2 541H540.6v141.6h-58.5V541H340.5v-58.5h141.6V340.9h58.5v141.6h141.6V541z" fill="#67B47A" p-id="4113"></path></svg>',
          text: '新增'
        },
        {
          path: '/mine',
          icon: '<svg t="1659335179876" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3138" width="32" height="32"><path d="M512 632c100.8 0 184-83.2 184-184S612.8 264 512 264 328 347.2 328 448 411.2 632 512 632z m0-320c75.2 0 136 60.8 136 136s-60.8 136-136 136-136-60.8-136-136 60.8-136 136-136z" p-id="3139"></path><path d="M792 785.6c70.4-72 112-168 112-273.6 0-216-176-392-392-392S120 296 120 512c0 105.6 41.6 201.6 110.4 273.6 0 0 0 1.6 1.6 1.6 68.8 70.4 161.6 112 259.2 116.8h41.6c97.6-4.8 190.4-46.4 259.2-118.4zM512 168c190.4 0 344 153.6 344 344 0 76.8-25.6 148.8-68.8 206.4-16-51.2-38.4-96-68.8-134.4-8-11.2-24-12.8-33.6-4.8-11.2 8-12.8 22.4-4.8 33.6 32 41.6 56 92.8 68.8 148.8-4.8 3.2-8 8-12.8 11.2-3.2 1.6-4.8 4.8-8 6.4-6.4 4.8-12.8 9.6-20.8 16-1.6 1.6-3.2 3.2-4.8 3.2l-24 14.4c-1.6 0-3.2 1.6-3.2 1.6-8 4.8-17.6 9.6-25.6 12.8-1.6 0-1.6 1.6-3.2 1.6-9.6 3.2-17.6 6.4-27.2 9.6-1.6 0-3.2 1.6-4.8 1.6-8 3.2-17.6 4.8-27.2 6.4-1.6 0-4.8 1.6-6.4 1.6-8 1.6-17.6 3.2-27.2 4.8-3.2 0-4.8 1.6-8 1.6-11.2 1.6-22.4 1.6-33.6 1.6s-22.4 0-33.6-1.6c-3.2 0-4.8 0-8-1.6-9.6-1.6-17.6-1.6-27.2-4.8-1.6 0-4.8-1.6-6.4-1.6-9.6-1.6-17.6-4.8-27.2-6.4-1.6 0-3.2-1.6-4.8-1.6-9.6-3.2-17.6-6.4-27.2-9.6-1.6 0-1.6-1.6-3.2-1.6-9.6-3.2-17.6-8-25.6-12.8-1.6 0-3.2-1.6-3.2-1.6l-24-14.4c-1.6-1.6-3.2-3.2-4.8-3.2-6.4-4.8-14.4-9.6-20.8-16-3.2-1.6-4.8-4.8-8-6.4-4.8-3.2-8-8-12.8-11.2 12.8-56 36.8-107.2 68.8-148.8 8-11.2 6.4-25.6-4.8-33.6s-25.6-6.4-33.6 4.8c-30.4 38.4-52.8 84.8-68.8 134.4-43.2-57.6-68.8-128-68.8-206.4 0-190.4 153.6-344 344-344z" p-id="3140"></path></svg>',
          text: '我的'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  header {
    border-bottom: 1px solid #dddddd;
    border-top: 0;
    font-size: 18px;
    background: orange;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  footer {
    border-top: 1px solid #dddddd;
    display: flex;
    height: 60px;
    a {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        height: 32px;
      }
      span {
        font-size: 12px;
      }
      &.router-link-active {
        color: red;
      }
    }
  }
}
</style>
