<template>
  <div class="toast-wrap">
    <div class="toast">{{ msg }}</div>
  </div>
</template>

<script>
export default {
  props: ['msg']
}
</script>

<style lang="scss" scoped>
.toast-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.toast {
  background: rgba($color: #000000, $alpha: .7);
  color: #ffffff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 106px;
  max-width: 250px;
  padding: 12px 20px;
  text-align: center;
}
</style>
