<template>
  <div class="controller">
    <div class="logo">FCC(🔥)</div>
    <div class="power">
      <h4>Power</h4>
      <p :class="{on: power}" @click="$emit('update:power', !power)">
        <span></span>
      </p>
    </div>
    <div class="title">{{ title }}</div>
    <div class="volume" ref="volume">
      <i :style="iStyle" @mousedown="mousedown"></i>
    </div>
    {{ (volume * 100).toFixed(1) }}%
  </div>
</template>

<script>

export default {
  props: ['power', 'title'],
  data () {
    return {
      flag: false,
      left: 120,
      volume: 0.5
    }
  },
  computed: {
    iStyle () {
      return {
        cursor: this.flag ? 'grabbing' : 'grab',
        left: this.left + 'px'
      }
    }
  },
  methods: {
    mousedown (e) {
      this.flag = true
    },
    mousemove (e) {
      if (this.flag) {
        const offsetleft = this.$refs.volume.parentNode.offsetLeft + this.$refs.volume.offsetLeft
        this.left = e.pageX - offsetleft - 5
        if (this.left <= 0) this.left = 0
        if (this.left >= 240) this.left = 240
        this.volume = this.left / 240
        this.$emit('setVolume', this.volume)
      }
    },
    mouseup () {
      this.flag = false
    }
  },
  mounted () {
    document.addEventListener('mousemove', this.mousemove)
    document.addEventListener('mouseup', this.mouseup)
  },
  beforeDestroy () {
    document.removeEventListener('mousemove', this.mousemove)
    document.removeEventListener('mouseup', this.mouseup)
  }
}
</script>

<style lang="scss" scoped>
.controller {
  flex: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.power {
  h4 {
    text-align: center;
    font-size: 20px;
  }
  p {
    width: 80px;
    height: 30px;
    background: #000000;
    padding: 5px;
    span {
      width: 50%;
      height: 100%;
      background: blue;
      display: block;
      transition: transform 0.5s linear;
    }
    &.on {
      span {
        transform: translateX(100%);
      }
    }
  }
}
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-style: italic;
}
.title {
  width: 150px;
  height: 40px;
  background: #cccccc;
  margin: 40px 0;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.volume {
  width: 250px;
  height: 8px;
  background: #333333;
  position: relative;
  i {
    position: absolute;
    left: 0;
    top: -11px;
    width: 10px;
    height: 30px;
    background: blue;
    cursor: grab;
  }
}
</style>
