<template>
  <div class="keyboard">
    <p
      v-for="(item, index) in list"
      :key="item.id"
      :class="{
        active: power && curIndex === index,
        disabled: !power && curIndex === index
      }"
      @mousedown="changeMusic(item, index)"
    >{{ item.keyTrigger }}</p>
  </div>
</template>

<script>
export default {
  props: ['list', 'power'],
  data () {
    return {
      curIndex: null
    }
  },
  methods: {
    changeMusic (info, index) {
      this.curIndex = index
      if (this.power) {
        // 把当前点击的歌曲传给父组件
        this.$emit('setMusic', info)
      }
    },
    mouseup () {
      this.curIndex = null
    },
    keydown (e) {
      const index = this.list.findIndex(item => item.keyCode === e.keyCode)
      const info = this.list[index]
      info && this.changeMusic(info, index)
    }
  },
  mounted () {
    // 绑定键盘事件
    document.addEventListener('keydown', this.keydown)
    // 键盘和鼠标抬起取消高亮
    document.addEventListener('keyup', this.mouseup)
    document.addEventListener('mouseup', this.mouseup)
  },
  beforeDestroy () {
    // 组件销毁之前清空原生事件
    document.removeEventListener('mouseup', this.mouseup)
    document.removeEventListener('keyup', this.mouseup)
    document.removeEventListener('keydown', this.keydown)
  }
}
</script>

<style lang="scss" scoped>
.keyboard {
  flex: 6;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  p {
    width: 30%;
    height: 30%;
    background: #999999;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 3px 1px #333333;
    &.active {
      background: orange;
      box-shadow: none;
    }
    &.disabled {
      box-shadow: none;
    }
  }
}
</style>
