.App {
  background: #c02a2a;
  padding: 20px;
}
button {
  margin: 0 5px;
}
.first {
  background: #4848cf;
  padding: 20px;
}
.second {
  background: #1d701d;
  padding: 20px;
}
.third {
  background: pink;
  padding: 20px;
}