<template>
  <div class="case">
    <ul class="list">
      <li v-for="item in list" :key="item.fiction_id">
        <div class="book" @touchstart="touchstart" @touchend="touchend">
          <img :src="item.cover" alt="" @click="goDetail(item.fiction_id)">
          <p>{{ item.title }}</p>
          <div v-if="showDel" class="mark" @click="changeChecked(item.fiction_id)">
            <span>
              <svg v-if="item.checked" t="1656988210816" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2245"><path d="M820.113403 204.239638c-169.888272-169.918971-446.339558-169.918971-616.22783 0-169.921018 169.890318-169.921018 446.339558 0 616.22783 169.888272 169.921018 446.339558 169.921018 616.22783 0C990.035444 650.579195 990.035444 374.130979 820.113403 204.239638zM769.710456 398.811078 477.206566 710.212364c-1.832741 1.704828-3.759627 2.842745-5.183046 3.664459-1.579985 1.043772-2.685155 1.928932-4.297886 2.592035-3.697205 1.579985-7.614421 2.368954-11.722996 2.368954-3.76065 0-7.458879-0.694825-11.06194-2.085498l-3.476171-2.02103c-1.865487-0.980327-3.886517-2.023076-5.815449-3.729951l0-0.063445c-0.125867-0.094144-0.252757-0.220011-0.3776-0.346901l-0.980327-0.946558L268.257673 546.042327c-5.752004-5.626137-9.005095-13.20986-9.069563-21.268396-0.030699-8.119935 3.034103-15.737426 8.721639-21.519106 11.376095-11.502985 31.318286-11.598152 42.819225-0.252757l144.45195 142.30096 270.475178-287.952224c10.965749-11.661597 31.126928-12.294001 42.757826-1.359974 5.909593 5.593392 9.322319 13.115716 9.543354 21.23565C778.178315 385.285017 775.271102 392.96493 769.710456 398.811078z" p-id="2246" fill="#d81e06"></path></svg>
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="book"><span>加入书籍</span></div>
      </li>
    </ul>
    <footer v-if="showDel">
      <button @click="hideDel">取消</button>
      <button @click="del">删除书籍</button>
    </footer>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      showDel: false,
      touchendFlag: true // 记录手指的按下状态，true: 抬起，false: 按下
    }
  },
  computed: {
    list () {
      return this.$store.state.bookCase
    }
  },
  methods: {
    ...mapMutations(['changeChecked', 'cancelChecked', 'removeBook']),
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: {
          id
        }
      })
    },
    touchstart () {
      this.touchendFlag = false
      this.timer = setTimeout(() => {
        if (!this.touchendFlag) {
          this.showDel = true
        }
      }, 600)
    },
    touchend () {
      clearTimeout(this.timer)
      this.touchendFlag = true
    },
    hideDel () {
      this.showDel = false
      this.cancelChecked()
    },
    del () {
      this.showDel = false
      this.removeBook()
      this.$toast('删除成功')
    }
  }
}
</script>

<style lang="scss" scoped>
.case {
  width: 100%;
  height: 100%;
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    button {
      flex: 1;
      background: #ffffff;
      &:last-of-type {
        background-image: linear-gradient(to right, #ec8665, #ed6a35);
        color: #ffffff;
      }
    }
  }
}
.list {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  li {
    width: 33.3%;
    padding-top: 20px;
    &:last-of-type {
      .book {
        height: 134px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cccccc;
        font-size: 12px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
        border-radius: 4px;
      }
    }
  }
  .book {
    width: 99px;
    margin: 0 auto;
    position: relative;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      background: #ffffff;
      border-radius: 50%;
    }
  }
  img {
    width: 99px;
    height: 134px;
    display: block;
  }
}
</style>
