<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // IE盒模型 元素总宽度 = 内容宽度（包涵：content、padding、border）
  // box-sizing: content-box; // 标准盒模型 元素总宽度 = 内容宽度 + padding + border
}
html, body, .app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
</style>
