.goods {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.goods-top {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.left {
  width: 80px;
  background: #f3f5f7;
  overflow: auto;
  .nav-item {
    font-size: 12px;
    color: #666;
    padding: 0 10px;
    text-align: center;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background: #ffffff;
  }
  .icon {
    display: inline-block;
    vertical-align: baseline;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.right {
  flex: 1;
  overflow: auto;
}
