.foods {
  display: flex;
  padding: 15px 10px;
  dt {
    width: 60px;
    margin-right: 10px;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  dd {
    flex: 1;
    overflow: hidden;
    font-size: 12px;
    color: #666666;
    position: relative;
    h4 {
      font-size: 14px;
    }
  }
}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.price {
  font-size: 14px;
  b {
    color: tomato;
    margin-right: 10px;
  }
}
.btns {
  position: absolute;
  bottom: 0;
  right: 10px;
  button {
    width: 20px;
    height: 20px;
    background: skyblue;
    color: #ffffff;
    border-radius: 50%;
    border: none;
  }
}