* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100px;
}
.app {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: auto;
  }
  footer {
    line-height: 40px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
    .active {
      color: orange;
    }
  }
}