<template>
  <div class="wrap">
    <h1>商品列表</h1>
    <Goods
      v-for="item in list"
      :key="item.name"
      :title="item.name"
      :price="item.price"
      :count="item.count"
      :test="33"
      @change="changeCount"
    />
    <footer>总价：¥{{ total }}</footer>
    <p>总数: {{ totalCount }}</p>
    <button>去支付</button>
    
    <!-- <Item
      v-for="item in arr"
      :key="item.Subject"
      :Subject="item.Subject"
      :Layout="item.Layout"
      :Content="item.Content"
    /> -->

  </div>
</template>

<script>
import Goods from './components/Goods.vue'
import data from './catagory.json'

export default {
  data () {
    return {
      list: [
        {
          name: '葫芦娃',
          price: 10,
          count: 0
        },
        {
          name: '奥特曼',
          price: 12,
          count: 0
        },
        {
          name: '唐老鸭',
          price: 20,
          count: 0
        },
        {
          name: '舒克和贝塔',
          price: 22,
          count: 0
        }
      ],
      totalCount: 0,
      arr: data
    }
  },
  methods: {
    changeCount (num, name) {
      this.list.forEach(item => {
        if (item.name === name) {
          item.count += num
        }
      })
    }
  },
  computed: {
    // 计算属性，根据列表生成总价
    total () {
      let t = 0
      this.list.forEach(item => {
        t += item.count * item.price
      })
      return t
    }
  },
  watch: {
    // 监听变量改变
    list: {
      handler () {
        this.totalCount = this.list.reduce((prev, val) => {
          return prev + val.count
        }, 0)
      },
      deep: true
    }
  },
  components: {
    Goods
  }
}
</script>

<style lang="scss">
.wrap {
}
button {
  background: tomato;
}
</style>
