<template>
  <div class="con">
    <div class="empty" v-if="memoList.length === 0">
      <p>备忘录空空如也，快去创建一个吧</p>
      <router-link to="/create">新建</router-link>
    </div>
    <div class="memolist" v-else>
      <div class="memo" v-for="item in  memoList" :key="item.id" @click="goDetail(item.id)">
        <h4>{{item.name}}</h4>
        <p>本金{{item.myMoney}},佣金{{item.brokerage}}</p>
        <p>{{format(item.time)}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['memoList'])
  },
  methods: {
    format (time) {
      return new Date(time).toLocaleString().replace(/\//g, '-')
    },
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: { id }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.con {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.memo {
  padding: 15px;
  border-bottom: 1px solid;
  p {
    color: #999999;
  }
}
.empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    width: 100px;
    height: 40px;
    background: orange;
    color: #ffffff;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    margin: 15px 0;
  }
}
</style>
