<template>
  <div class="home">
    <Button type="primary">按钮</Button>
    <div class="search">
      <router-link to="/search">
        <input readonly type="text" placeholder="搜索你喜欢的书籍">
      </router-link>
    </div>
  </div>
</template>

<script>
import { getBanner, getBookList } from '@/service/api'
import { Button } from 'vant'

export default {
  async created () {
    getBanner().then(res => {
      console.log('轮播图', res)
    })

    getBookList().then(res => {
      console.log('书单', res)
    })
  },
  components: {
    Button
  }
}
</script>

<style lang="scss" scoped>
.home {
  background: #854348;
}
.search {
  padding: 15px;
  input {
    width: 100%;
    height: 36px;
    border-radius: 30px;
    background: rgba($color: #ffffff, $alpha: .7);
    outline: none;
    border: none;
    padding: 15px;
  }
}
</style>
