<template>
  <div>
    <img @click="$router.push('/')" src="https://img.zcool.cn/community/01437655dbcfdd6ac7251df80f91af.jpg" alt="">
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
  vertical-align: middle;
}
</style>
