<template>
  <div class="app">
    <div class="music-wrap">
      <Keyboard :power="power" :list="list" @setMusic="setMusic" />
      <Controller :title="curMusic.id" :power.sync="power" @setVolume="setVolume" />
    </div>
    <audio ref="audio" :src="curMusic.url" autoplay></audio>
  </div>
</template>

<script>
import axios from 'axios'
import Keyboard from './components/Keyboard.vue'
import Controller from './components/Controller.vue'

export default {
  data () {
    return {
      list: [], // 所有数据
      curMusic: {}, // 当前歌曲
      power: true, // 开关
      volume: 0
    }
  },
  methods: {
    setMusic (info) {
      // 修改音乐之前先把上一次的音乐清空
      this.curMusic = {}
      setTimeout(() => {
        this.curMusic = info
      }, 0)
    },
    setVolume (volume) {
      this.$refs.audio.volume = volume
    }
  },
  watch: {
    power () {
      if (!this.power) {
        this.curMusic = {}
      }
    }
  },
  mounted () {
    this.$refs.audio.volume = 0.5
  },
  async created () {
    const res = await axios.post('/music/list')
    this.list = res.data.values
    // 预加载音乐
    this.list.forEach(item => {
      setTimeout(() => {
        const audio = new Audio()
        audio.src = item.url
        audio.load()
      }, 0)
    })
  },
  components: {
    Keyboard,
    Controller
  }
}
</script>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
}
html, body, .app {
  width: 100%;
  height: 100%;
  background: #cccccc;
}
.music-wrap {
  margin: 100px auto;
  width: 800px;
  height: 400px;
  border: 6px orange solid;
  background: #eeeeee;
  display: flex;
}
</style>
