.login {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(to left top, #3a61c1, #74b5ef);
}
.loginForm {
  width: 300px;
  background: #ffffff;
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px 20px;
  border-radius: 10px;
}