* {
  margin: 0;
  padding: 0;
}
body {
  background: orange url(../assets/img.jpg) no-repeat;
  h1 {
    font-size: 70px;
    background: pink;
  }
}
li {
  color: #ffffff;
}
.wrap {
  width: 400px;
  border: 10px solid yellowgreen;
  img {
    width: 100%;
  }
}