<template>
  <div class="address">
    <div class="list">
      <h3>历史地址</h3>
      <ul v-if="addressList.length > 0">
        <li v-for="item in addressList" :key="item.id" @click="setCurAddress(item)">
          <div class="checkbox">
            <svg v-if="item.id === curAddress.id" t="1657161833745" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5649" width="200" height="200"><path d="M820.113403 204.239638c-169.888272-169.918971-446.339558-169.918971-616.22783 0-169.921018 169.890318-169.921018 446.339558 0 616.22783 169.888272 169.921018 446.339558 169.921018 616.22783 0C990.035444 650.579195 990.035444 374.130979 820.113403 204.239638zM769.710456 398.811078 477.206566 710.212364c-1.832741 1.704828-3.759627 2.842745-5.183046 3.664459-1.579985 1.043772-2.685155 1.928932-4.297886 2.592035-3.697205 1.579985-7.614421 2.368954-11.722996 2.368954-3.76065 0-7.458879-0.694825-11.06194-2.085498l-3.476171-2.02103c-1.865487-0.980327-3.886517-2.023076-5.815449-3.729951l0-0.063445c-0.125867-0.094144-0.252757-0.220011-0.3776-0.346901l-0.980327-0.946558L268.257673 546.042327c-5.752004-5.626137-9.005095-13.20986-9.069563-21.268396-0.030699-8.119935 3.034103-15.737426 8.721639-21.519106 11.376095-11.502985 31.318286-11.598152 42.819225-0.252757l144.45195 142.30096 270.475178-287.952224c10.965749-11.661597 31.126928-12.294001 42.757826-1.359974 5.909593 5.593392 9.322319 13.115716 9.543354 21.23565C778.178315 385.285017 775.271102 392.96493 769.710456 398.811078z" p-id="5650"></path></svg>
            <svg v-else t="1657161824856" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5504" width="200" height="200"><path d="M512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z m0-64c200.298667 0 362.666667-162.368 362.666667-362.666667S712.298667 149.333333 512 149.333333 149.333333 311.701333 149.333333 512s162.368 362.666667 362.666667 362.666667z" p-id="5505"></path></svg>
          </div>
          <div class="info">
            <p>{{ item.user }}</p>
            <p>{{ item.tel }}</p>
            <p>{{ item.fullAddress }}</p>
          </div>
          <div class="edit" @click.stop="edit(item.id)">
            <svg t="1657161870173" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6583" width="200" height="200"><path d="M960 960H64v-64h896v64z m-73.6-686.4l-84 84-45.6 45.6L384 776l-192 56 56-192 502.4-502.4c4-4 9.6-6.4 14.4-6.4 4 0 8 1.6 10.4 4L888 248c7.2 7.2 5.6 17.6-1.6 25.6zM712 357.6L666.4 312 304.8 673.6l-18.4 64 64-18.4L712 357.6z m97.6-97.6l-45.6-45.6-52 52 45.6 45.6 52-52z" p-id="6584"></path></svg>
          </div>
        </li>
      </ul>
      <div v-else class="empty">暂无地址</div>
    </div>
    <router-link class="link" to="/edit">+新增地址</router-link>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['addressList', 'curAddress'])
  },
  methods: {
    ...mapMutations(['setAddress']),
    setCurAddress (info) {
      this.setAddress(info)
      this.$router.back()
    },
    edit (id) {
      this.$router.push({
        path: '/edit',
        query: {
          id
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.address {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .link {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: none;
    color: orange;
    text-align: center;
    line-height: 40px;
  }
}
.list {
  flex: 1;
  overflow: auto;
  background: #eeeeee;
  h3 {
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    color: #999999;
  }
  ul {
    border-top: 1px solid #cccccc;
    li {
      background: #ffffff;
      border-bottom: #dddddd;
      display: flex;
      padding: 15px 0;
    }
  }
}
.checkbox {
  padding: 0 10px;
  display: flex;
  align-items: center;
  .icon {
    width: 26px;
    height: 26px;
  }
}
.edit {
  padding: 0 10px;
  .icon {
    width: 22px;
    height: 22px;
  }
}
.info {
  flex: 1;
  p {
    font-size: 14px;
    color: #999999;
    &:first-of-type {
      color: #333333;
    }
  }
}
.empty {
  text-align: center;
  padding-top: 80px;
  color: #888888;
}
</style>
