<template>
  <div class="create">
    <div class="form">
      <div class="form-item">
        <div class="label">平台</div>
        <div class="form-con platform">
          <p v-for="(item, index) in platformList" :key="item">
            <input v-model="form.platform" :id="item" type="radio" name="platform" :value="index">
            <label :for="item">{{item}}</label>
          </p>
        </div>
      </div>
      <div class="form-item">
        <div class="label">任务</div>
        <div class="form-con"><input v-model="form.name" type="text" placeholder="如“拍台灯”'"></div>
      </div>
      <div class="form-item">
        <div class="label">本金</div>
        <div class="form-con">
          <input type="text" class="money" v-model.number="form.myMoney"> 元
          <input type="checkbox" v-model="form.myMoneyBack"> 本金已返
        </div>
      </div>
      <div class="form-item">
        <div class="label">佣金</div>
        <div class="form-con">
          <input type="text" class="money" v-model.number="form.brokerage"> 元
          <input type="checkbox" v-model="form.brokerageBack"> 佣金已返
        </div>
      </div>
      <div class="form-item">
        <div class="label">备注</div>
        <div class="form-con"><textarea v-model="form.remark"></textarea></div>
      </div>
    </div>
    <button class="submit" @click="submit">提交</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      platformList: ['淘宝', '京东', '拼多多'],
      form: {
        name: '',
        platform: '',
        myMoney: 0,
        myMoneyBack: false,
        brokerage: 0,
        brokerageBack: false,
        remark: ''
      }
    }
  },
  methods: {
    submit () {
      if (this.form.platform === '' || !this.form.name) {
        return alert('信息不完整')
      }
      this.$store.commit('addMemo', this.form)
      this.$router.push('/memo')
    }
  }
}
</script>

<style lang="scss" scoped>
.create {
  width: 100%;
}
.submit {
  width: 300px;
  height: 40px;
  color: #ffffff;
  background: orange;
  border-radius: 5px;
  display: block;
  margin: 60px auto 0;
  border: none;
}
.form {
  padding: 40px 15px;
}
.form-item {
  display: flex;
  margin-bottom: 20px;
}
.label {
  width: 60px;
  line-height: 30px;
}
.form-con {
  flex: 1;
  overflow: hidden;
  input {
    height: 30px;
    vertical-align: middle;
  }
}
.platform {
  display: flex;
  p {
    margin-right: 10px;
    line-height: 30px;
  }
}
.money {
  width: 40px;
}
textarea {
  resize: none;
  height: 80px;
}
</style>
