.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rpx;
}
.left {
  width: 240rpx;
  height: 240rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.left image {
  width: 110rpx;
  height: 110rpx;
}
.right {
  width: 200rpx;
  height: 200rpx;
  position: relative;
}
.right image {
  width: 100%;
  height: 100%;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.chip-money, .chip-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  width: 100%;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
}
.chip-area {
  width: 200%;
  height: 200%;
}
.chip-view {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60rpx;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
}
.fade {
  animation: fade 2s infinite linear;
}