.option {
  position: absolute;
  left: 0;
  top: 42px;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
}
.search {
  padding: 0 10px;
  position: relative;
  .icon {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 16px;
    height: 16px;
  }
  input {
    width: 100%;
    height: 36px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dddddd;
    padding-left: 25px;
  }
}
.list {
  max-height: 250px;
  overflow: auto;
  padding-top: 10px;
}
.item {
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
  &.hover {
    background: #dddddd;
  }
}
.checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg t='1660011907460' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='5145' width='32' height='32'%3E%3Cpath d='M863.84 127.73a32 32 0 0 1 32 32v704a32 32 0 0 1-32 32h-704a32 32 0 0 1-32-32v-704a32 32 0 0 1 32-32h704m0-64h-704a96 96 0 0 0-96 96v704a96 96 0 0 0 96 96h704a96 96 0 0 0 96-96v-704a96 96 0 0 0-96-96z' p-id='5146' fill='%23009688'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
}
.checked {
  background-image: url("data:image/svg+xml,%3Csvg t='1660012082637' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='5444' width='32' height='32'%3E%3Cpath d='M863.8 63.7h-704c-53 0-96 43-96 96v704c0 53 43 96 96 96h704c53 0 96-43 96-96v-704c0-53-42.9-96-96-96z m-54.9 374.1l-332.4 284c-11.7 10-26.3 15.3-41.5 15.3-1.7 0-3.4-0.1-5.1-0.2-17-1.3-32.5-9.2-43.6-22.2L208.8 507c-11.5-13.4-9.9-33.6 3.5-45.1s33.6-9.9 45.1 3.5L434.8 673l332.4-284c13.4-11.5 33.6-9.9 45.1 3.5 11.6 13.6 10 33.8-3.4 45.3z' p-id='5445' fill='%23009688'%3E%3C/path%3E%3C/svg%3E");
}