<template>
  <div class="about">
    <h1>about页面</h1>
    <p>总价: ¥{{ total }}</p>
    <ul>
      <li v-for="item in goodsList" :key="item.id">
        <h4>{{ item.title }}</h4>
        <p>价格: ¥{{ item.price }}</p>
        <button :disabled="item.count <= 0" @click="changeCount({ id: item.id, num: -1 })">-</button>
        {{ item.count }}
        <button @click="changeCount({ id: item.id, num: 1 })">+</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('goods', ['total']),
    ...mapState('goods', ['goodsList'])
    // ...mapState({
    //   goodsList: state => state.goods.goodsList
    // })
  },
  methods: {
    ...mapActions('goods', ['getGoods']),
    ...mapMutations('goods', ['changeCount'])
  },
  created () {
    this.getGoods({
      time: Date.now(),
      user: 'zyx'
    }).then(res => {
      console.log(res)
    })
  }
}
</script>

<style lang="scss" scoped>
li {
  padding: 10px;
  border-bottom: 1px dashed;
  button {
    width: 20px;
    height: 20px;
  }
}
</style>
