<template>
  <div class="home">
    {{ rootTitle }}
    <header>
      <input type="text" placeholder="添加todo" @keydown.enter="add" v-model="text">
      <button @click="add">添加</button>
    </header>
    {{ todoList }}
    <ol>
      <li v-for="item in todoList" :key="item.id">
        <s v-if="item.checked">{{ item.text }}</s>
        <span v-else>{{ item.text }}</span>
        <button @click="changeChecked(item.id)">完成</button>
      </li>
    </ol>
    {{ goodsList }}
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  data () {
    return {
      text: ''
    }
  },
  computed: {
    ...mapState('todo', ['todoList']),
    ...mapState(['rootTitle']),
    ...mapState('goods', ['goodsList'])
    // ...mapState({
    //   // 使用对象的方式获取小仓库的数据
    //   todoList: state => state.todo.todoList,
    //   rootTitle: state => state.rootTitle
    // })
    // todoList () {
    //   // 获取小仓库数据
    //   return this.$store.state.todo.todoList
    // }
  },
  methods: {
    // 获取带命名空间的小仓库的 mutations函数
    ...mapMutations('todo', ['addTodo', 'changeChecked']),
    add () {
      if (!this.text) return
      this.addTodo({
        text: this.text,
        id: Date.now(),
        checked: false
      })
      this.text = ''
    }
  },
  created () {
    // 获取store中modules的数据
    console.log(this.$store)
  }
}
</script>

<style lang="scss" scoped>
ol {
  padding: 0 20px;
  li {
    line-height: 40px;
    border-bottom: 1px dashed #cccccc;
  }
}
</style>
