* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}
.app {
  width: 300px;
  height: 300px;
  border: 1px solid #333333;
  overflow: auto;
  p {
    line-height: 50px;
    border-bottom: 1px solid orangered;
  }
}