<template>
  <Swiper :options="options">
    <SwiperSlide v-for="(item, index) in dataList" :key="item.sort">
      <a :href="item.resource">
        <img :src="item.imageUrl || item" />
        <img class="cornerSign" v-if="cornerSign && cornerSign[index]" :src="cornerSign[index]" alt="">
      </a>
    </SwiperSlide>
    <div class="swiper-pagination" slot="pagination"></div>
  </Swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  data () {
    return {
      options: {
        loop: true,
        autoplay: true,
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
  props: {
    dataList: {
      type: Array,
      default () {
        return []
      }
    },
    cornerSign: {
      type: Array,
      default () {
        return []
      }
    }
  },
  components: {
    Swiper,
    SwiperSlide
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
a {
  position: relative;
  overflow: hidden;
  display: block;
  .cornerSign {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
</style>
<style>
.swiper-pagination .swiper-pagination-bullet-active {
  background: orange !important;
}
</style>
