<template>
  <div class="gohome" @scroll="scrollFn">
    <router-link class="top" to="/address">
      <span v-if="curAddress.fullAddress">送至：{{ curAddress.fullAddress }}</span>
      <span v-else>请选择配送地址</span>
    </router-link>
    <nav>
      <span>多点超市</span>
      <span>全球精选</span>
    </nav>
    <div class="row" v-for="item in pageModules" :key="item.name">
      <Banner :dataList="item.dataList" v-if="item.displayType === 119" />
      <Ad :dataList="item.dataList" v-else-if="item.displayType === 146 || item.displayType === 124" />
      <Double :dataList="item.dataList" v-else-if="item.displayType === 130" />
    </div>
    <!-- <Goods ref="goods" /> -->
    <Goods />
  </div>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'
import Banner from '../../../components/Banner.vue'
import Ad from './components/Ad.vue'
import Double from './components/Double.vue'
import Goods from './components/Goods.vue'

export default {
  data () {
    return {
      pageModules: []
    }
  },
  methods: {
    ...mapActions(['getList']),
    scrollFn (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      if (scrollTop + clientHeight + 1 >= scrollHeight) {
        console.log('滚动到底部了')
        // 调用 Goods.vue 中的 getList方法
        // 通过 ref 获取子组件的实例对象，调用方法
        // this.$refs.goods.getList()
        // 调用vuex中的action
        this.getList()
      }
    }
  },
  computed: {
    ...mapState(['curAddress'])
  },
  async created () {
    const res = await axios.get('/api/weixin/home/businessIndex?param=%7B%22index%22%3A0%2C%22currentPage%22%3A1%2C%22reqUrl%22%3A%22https%3A%2F%2Fcmsapi.dmall.com%2Fapp%2Fweb%2Fjson%2F1%2F12527%22%2C%22pairs%22%3A%221-0-12527%22%2C%22code%22%3A%221%22%2C%22networkType%22%3A2%7D&token=&source=2&tempid=C9C8436F7B1000022B2318D9BF981504&pubParam=%7B%7D&d_track_data=%7B%22session_id%22%3A%22C9E403EC27E00002BFCA1E991AC01A64%22%2C%22uuid%22%3A%22C9C8436F7B1000022B2318D9BF981504%22%2C%22project%22%3A%22%E5%BE%AE%E4%BF%A1%E5%95%86%E5%9F%8E%22%2C%22env%22%3A%22mweb%22%2C%22tdc%22%3A%22%22%2C%22tpc%22%3A%22%22%7D')
    this.pageModules = res.data.data.pageModules
  },
  components: {
    Double,
    Ad,
    Banner,
    Goods
  }
}
</script>

<style lang="scss" scoped>
.gohome {
  height: 100%;
  overflow: auto;
}
.top {
  line-height: 30px;
  padding: 0 20px;
  color: #666666;
}
nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
  span {
    margin-left: 20px;
  }
}
li {
  line-height: 50px;
}
</style>
