<template>
  <div class="wrap" @scroll="scrollFn">
    <h2>歌手分类</h2>
    <ol>
      <li v-for="item in list" :key="item.id">{{ item.name }}</li>
    </ol>
    <div class="loading">
      <span>loading</span>
    </div>
  </div>
</template>

<script>
import getList from '@/mixins/getList'

export default {
  mixins: [getList],
  data () {
    return {
      fetchUrl: '/artist/list',
      resKey: 'artists',
      query: {
        limit: 30
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  height: 100%;
  overflow: auto;
}
li {
  line-height: 50px;
  padding: 20px;
  border-bottom: 1px solid salmon;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
  span {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
  }
}
</style>
