<template>
  <div>
    <h2>vue中的key</h2>
    <!-- <button @click="login = !login">切换登陆注册</button>
    <p v-if="login" key="0">登陆账号: <input type="text" placeholder="请输入用户名"></p>
    <p v-else key="1">注册账号: <input type="text" placeholder="请输入要注册的用户名"></p> -->
    <!-- vue更新时默认采用就地复用的策略，尽可能的减少dom操作，如果不希望就地复用添加不同key -->
    <input type="text" placeholder="添加" v-model="text">
    <button @click="add">添加</button>
    <ul>
      <!-- key：1. 不可用重复，必须是唯一值 2. 尽量不要使用下标，如果确定列表不会修改内容也可以使用下标当作key -->
      <li v-for="item in arr" :key="item">
        <input type="checkbox"> {{item}}
      </li>
    </ul>
  </div>
</template>
<!--
  vue 列表的 diff 算法，
  1. 先查找key不变，位置也不变的元素就地复用
  2. 再查找key不变，位置修改的元素，更改位置
  3. 最后查找删除的key和新增的key，删除对应的元素或者添加对应的元素
  ['a', 'b', 'c', 'd', 'e']
  ['aa', 'a', 'b', 'c', 'd', 'e']

  'a', 'b', 'c', 'd', 'e'
  'a', 'b', 'aa', 'c', 'd'
-->

<script>
export default {
  data () {
    return {
      login: true,
      text: '',
      arr: ['a', 'b', 'c', 'd', 'e']
    }
  },
  methods: {
    add () {
      this.arr.unshift(this.text)
      this.text = ''
    }
  }
}
</script>

<style>

</style>
