<template>
  <div class="wrap" @scroll="scrollFn">
    <h2>歌曲列表</h2>
    <ol>
      <li v-for="item in list" :key="item.id">
        {{ item.name }} -- <span>{{ item.ar.map(v => v.name).join('/') }}</span>
      </li>
    </ol>
  </div>
</template>

<script>
import getList from '@/mixins/getList'
export default {
  mixins: [getList],
  data () {
    return {
      fetchUrl: '/artist/songs',
      resKey: 'songs',
      query: {
        id: 6452
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  height: 100%;
  overflow: auto;
}
span {
  color: red;
}
li {
  padding: 20px;
  border-bottom: 1px solid;
}
</style>
