<template>
  <div>
    <h2>$set和$nextTick</h2>
    <button @click="add">添加属性</button>
    <!-- <ul>
      <li v-for="(val, key) in user" :key="val">{{ key }} === {{ val }}</li>
    </ul> -->
    <ul ref="list">
      <li v-for="val in arr" :key="val">{{ val }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: {
        name: '小明'
      },
      arr: [0, 1, 2, 3, 4]
    }
  },
  methods: {
    // add () {
    //   // 给对象添加属性，vue监听不到，不会更新页面，需要使用$set添加属性
    //   // this.user.age = 100
    //   this.$set(this.user, 'age', 100)
    //   console.log(this.user)
    // }
    add () {
      // this.arr.push(this.arr.length)
      // this.arr[this.arr.length] = this.arr.length // 直接通过下标修改数组页面不会更新
      // this.$set(this.arr, 2, 2000) // 通过$set修改数组
      this.$set(this.arr, this.arr.length, this.arr.length)
      this.$nextTick(() => {
        // 本次页面更新完成之后执行
        console.log('nextTick', this.$refs.list.clientHeight)
      })
    }
  },
  updated () {
    // console.log('updated', this.$refs.list.clientHeight)
  }
}
</script>

<style lang="scss" scoped>
li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid;
}
</style>
