<template>
  <div class="wrap" @scroll="scrollFn">
    <h2>精选歌单</h2>
    <ul>
      <li v-for="item in list" :key="item.id">
        <img :src="item.coverImgUrl" alt="">
        <p>{{ item.name }}</p>
      </li>
    </ul>
    <div class="more">加载更多</div>
    <div class="loading" v-if="loading">
      <span>loading</span>
    </div>
  </div>
</template>

<script>
import getList from '../mixins/getList'
export default {
  // 添加混入
  mixins: [getList],
  data () {
    return {
      fetchUrl: '/top/playlist',
      resKey: 'playlists'
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  height: 100%;
  overflow: auto;
}
img {
  height: 100px;
}
li {
  border-bottom: 1px salmon solid;
}
.more {
  background: #cccccc;
  text-align: center;
  line-height: 40px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  span {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
  }
}
</style>
