<template>
  <div class="hot-page">
    <div
      v-for="item in list"
      :key="item.filmId"
      class="row"
      @click="goDetail(item.filmId)"
    >
      <div class="img"><img :src="item.poster" alt="" /></div>
      <div class="center">
        <h4>{{ item.name }}</h4>
        <p v-if="item.grade">观众评分: <b>{{ item.grade }}</b></p>
        <p>主演：{{ item.actors.map(v => v.name).join(' ') }}</p>
        <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
      </div>
      <button>购票</button>
    </div>
    <div v-if="list.length >= total">已经加载完所有数据了</div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [],
      pageNum: 1,
      loading: false,
      total: null
    }
  },
  methods: {
    goDetail (id) {
      // 路由实例对象，可以跳转路由
      // console.log(this.$router)
      // 动态路由
      // this.$router.push(`/detail/${id}/zyx/${Date.now()}`)
      this.$router.push({
        name: 'detail',
        params: {
          filmId: id,
          user: 'zyx',
          time: Date.now()
        },
        query: {
          a: 100,
          b: 200
        }
      })
      // 跳转路由通过query传参数
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id,
      //     user: 'zyx',
      //     time: Date.now()
      //   }
      // })
      // this.$router.replace('/detail')
    },
    getHotList () {
      // 如果加载完所有数据就停止请求
      if (this.total && this.list.length >= this.total) return
      if (this.loading) return // 如果上一次请求还没有结束就停止执行
      this.loading = true // 请求接口展示loading
      axios.get('/hot', {
        params: {
          pageNum: this.pageNum, // 请求第几页数据
          pageSize: 10 // 每页多少条数据
        }
      }).then(res => {
        this.loading = false // 请求成功关闭loading
        this.pageNum++ // 改变页数
        if (res.data.code === 1) {
          this.list = this.list.concat(res.data.values)
          this.total = res.data.total
        } else {
          alert(res.data.msg)
        }
      })
    }
  },
  created () {
    // 进入页面立即请求数据
    this.getHotList()
    // 往 eventBus 中存函数，页面滚动都底部请求下一页数据
    this.$bus.getList = () => {
      console.log('hot组件接受到通知了')
      this.getHotList()
    }
  }
}
</script>

<style lang="scss" scoped>
.hot-page {
  padding-left: 15px;
}
.row {
  display: flex;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid #ededed;
  align-items: center;
  &:last-of-type {
    border-bottom: none;
  }
}
img {
  width: 66px;
  display: block;
}
.center {
  height: 93px;
  flex: 1;
  overflow: hidden;
  padding: 0 10px;
  font-size: 12px;
  h4 {
    font-size: 14px;
  }
  p {
    color: #797d82;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    b {
      color: #ffb232;
    }
  }
}
button {
  width: 50px;
  height: 25px;
  background: #ffffff;
  color: #ff5f16;
  border: 1px solid #ff5f16;
}
</style>
