.select {
  width: 500px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  position: relative;
  padding-right: 30px;
  &:hover {
    border-color: #c0c4cc;
  }
  &.active {
    border-color: #009688;
    .icon {
      transform: translateY(-50%);
    }
  }
}
.placeholder {
  line-height: 40px;
  color: #999999;
  padding-left: 10px;
  font-size: 14px;
}
.icon {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
  transition: transform 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}
.item {
  background: #009688;
  color: #ffffff;
  padding: 0 10px;
  flex-shrink: 0;
  margin-right: 6px;
  height: 30px;
  line-height: 30px;
}