<template>
  <div class="app">
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/about">食物列表</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // IE盒模型 元素总宽度 = 内容宽度（包涵：content、padding、border）
  // box-sizing: content-box; // 标准盒模型 元素总宽度 = 内容宽度 + padding + border
}
html, body, .app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
nav {
  line-height: 40px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  a {
    margin: 0 20px;
  }
}
</style>
