<template>
  <div class="page search-page">
    <TitleBar>
      <div class="search">
        <svg t="1656661795911" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2896"><path d="M469.333333 768c-166.4 0-298.666667-132.266667-298.666666-298.666667s132.266667-298.666667 298.666666-298.666666 298.666667 132.266667 298.666667 298.666666-132.266667 298.666667-298.666667 298.666667z m0-85.333333c119.466667 0 213.333333-93.866667 213.333334-213.333334s-93.866667-213.333333-213.333334-213.333333-213.333333 93.866667-213.333333 213.333333 93.866667 213.333333 213.333333 213.333334z m251.733334 0l119.466666 119.466666-59.733333 59.733334-119.466667-119.466667 59.733334-59.733333z" fill="#444444" p-id="2897"></path></svg>
        <input v-model="keyword" type="text" placeholder="请输入搜索的作者/书籍">
        <button @click="search">搜索</button>
      </div>
    </TitleBar>
    <div class="list">
      <dl v-for="item in list" :key="item.fiction_id" @click="goDetail(item.fiction_id)">
        <dt><img :src="item.cover" alt="" /></dt>
        <dd>
          <h3>{{ item.title }}</h3>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import TitleBar from '@/components/TitleBar.vue'
export default {
  data () {
    return {
      keyword: '',
      list: []
    }
  },
  methods: {
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: {
          id
        }
      })
    },
    search () {
      axios.get('/book/search', {
        params: {
          keyword: this.keyword
        }
      }).then(res => {
        this.list = res.data.values
      })
    }
  },
  components: {
    TitleBar
  }
}
</script>

<style lang="scss" scoped>
.search-page {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  align-items: center;
  height: 36px;
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 7px;
  margin-right: 40px;
  .icon {
    width: 26px;
    height: 26px;
    margin: 0 5px;
  }
  input {
    flex: 1;
    height: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding-left: 10px;
  }
  button {
    width: 36px;
    height: 100%;
  }
}
.list {
  flex: 1;
  overflow: auto;
  dl {
    display: flex;
    dt {
      width: 120px;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    dd {
      flex: 1;
    }
  }
}
</style>
