<template>
  <div>
    <p>本金已返: {{money.myback}}</p>
    <p>本金未返: {{money.my}}</p>
    <p>佣金已返: {{money.brokerageBack}}</p>
    <p>佣金未返: {{money.brokerage}}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['money'])
  }
}
</script>

<style>

</style>
