<template>
  <div class="page" @scroll="scrollFn">
    <header :class="{sticky: scrollTop >= 200}">
      <div class="title" v-if="scrollTop >= 200">
        <router-link to="/city">北京</router-link>
        <h2>电影</h2>
      </div>
      <nav>
        <router-link
          v-for="item in navlist"
          :key="item.path"
          :to="item.path"
        >{{ item.text }}</router-link>
        <div class="line" :style="{
          transform: `translateX(${curIndex * 100}%)`
        }"><span></span></div>
      </nav>
    </header>
    <div class="list">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navlist: [
        {
          text: '正在热映',
          path: '/home/movie'
        },
        {
          text: '即将上映',
          path: '/home/movie/coming'
        }
      ],
      curIndex: 1,
      scrollTop: 0
    }
  },
  watch: {
    // 监听路由改变
    $route: {
      handler () {
        // 获取当前路由信息
        this.curIndex = this.navlist.findIndex(item => item.path === this.$route.path)
      },
      immediate: true
    }
  },
  methods: {
    scrollFn (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      this.scrollTop = e.target.scrollTop
      if (scrollTop + clientHeight + 1 >= scrollHeight) {
        console.log('滚动到底部了，通知hot请求下一页的接口')
        this.$bus.getList()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
  overflow: auto;
}
header {
  background: #ffffff;
  nav {
    height: 50px;
    border-bottom: 1px solid #ededed;
    display: flex;
    position: relative;
    a {
      flex: 1;
      line-height: 50px;
      color: #333333;
      text-align: center;
      &.router-link-exact-active {
        color: #ff5f16;
      }
    }
  }
}
.sticky {
  position: sticky;
  top: 0;
}
.title {
  height: 50px;
  border-bottom: 1px solid #ededed;
  position: relative;
  h2 {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
  }
  a {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333333;
    font-size: 12px;
  }
}
.line {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.5s linear;
  span {
    width: 56px;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #ff5f16;
  }
}
</style>
