.comment {
  overflow: auto;
  height: 100%;
}
.commentNav {
  padding: 20px;
  display: flex;
  span {
    padding: 6px 15px;
    margin-right: 10px;
    background: rgba(0,160,220,.2);
    color: #666;
    &.active {
      background: #00a0dc;
      color: #ffffff;
    }
  }
  .gray {
    background: #ccc;
    &.active {
      background: #666;
      color: #ffffff;
    }
  }
}
.list {
  dl {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
  }
  dt {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  dd {
    flex: 1;
    overflow: hidden;
    position: relative;
    font-size: 14px;
  }
  .rateTime {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    font-size: 14px;
    color: #666;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    span {
      font-size: 12px;
      color: #999;
      border: 1px solid #ccc;
      padding: 2px 5px;
      margin-right: 6px;
      margin-bottom: 6px;
    }
  }
  .star {
    display: flex;
    align-items: center;
  }
  .star-wrap {
    width: 80px;
    margin-right: 15px;
  }
}