<template>
  <div class="dialog">
    <transition name="slide">
      <div class="content" v-if="conVisible">
        <div class="header">
          <b>标题</b>
          <span @click="close">X</span>
        </div>
        <div class="center">
          <input type="text" @input="$emit('update:title', $event.target.value)">
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ['visible', 'title'],
  data () {
    return {
      conVisible: false
    }
  },
  methods: {
    close () {
      this.conVisible = false
      setTimeout(() => {
        this.$emit('close')
      }, 1000)
    }
  },
  mounted () {
    setTimeout(() => {
      this.conVisible = true
    }, 0)
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 700px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #cccccc;
}
.center {
  flex: 1;
  padding: 20px;
}
.footer {
  border-top: 1px solid #cccccc;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  button {
    margin-left: 20px;
  }
}
.slide-enter, .slide-leave-to {
  top: 0;
  transform: translate(-50%, -100%);
}
.slide-enter-active, .slide-leave-active {
  transition: all 1s linear;
}
</style>
