* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      line-height: 50px;
      flex: 1;
      text-align: center;
      &.active {
        color: tomato;
      }
    }
  }
}
.movie {
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    border-bottom: 1px salmon solid;
    line-height: 40px;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      &.active {
        background: orange;
        color: #ffffff;
      }
    }
  }
  .content {
    flex: 1;
  }
}