<template>
  <div>
    <!-- <button @click="show = true">显示弹窗</button>
    <transition name="fade" @after-enter="afterEnter">
      <MessageBox v-if="show" @close="show = false" />
    </transition> -->
    <button @click="show = !show">显示div</button>
    <transition
      name="custom-classes-transition"
      enter-active-class="animate__animated animate__rotateIn"
      leave-active-class="animate__animated animate__lightSpeedOutRight"
    >
      <h1 v-if="show">大标题</h1>
    </transition>
  </div>
</template>

<script>
// import MessageBox from './components/MessageBox.vue'
export default {
  data () {
    return {
      show: false
    }
  },
  methods: {
    afterEnter () {
      console.log('进入动画结束了')
    }
  },
  components: {
    // MessageBox
  }
}
</script>

<style lang="scss">
@import 'animate.css';
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s linear;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
</style>
