<template>
  <div class="city-list">
    <div class="city-con" ref="cityCon">
      <div
        v-for="item in cityList"
        :key="item.type"
        class="city"
      >
        <h4>{{ item.type }}</h4>
        <ul>
          <li @click="$emit('changeCity', val)" v-for="val in item.city" :key="val">{{ val }}</li>
        </ul>
      </div>
    </div>
    <div class="city-letter">
      <p
        v-for="(item, index) in cityList"
        :key="item.type"
        @click="jump(index, item.type)"
      >{{ item.type }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cityList'],
  methods: {
    jump (index, type) {
      this.$refs.cityCon.scrollTop = this.$refs.cityCon.children[index].offsetTop
      this.$emit('setCurLetter', type)
    }
  }
}
</script>

<style lang="scss" scoped>
.city-list {
  padding-right: 20px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.city-con {
  height: 100%;
  overflow: auto;
}
.city-letter {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city {
  h4 {
    background: #efefef;
    padding-left: 20px;
  }
  ul {
    padding-left: 20px;
  }
  li {
    line-height: 40px;
    border-bottom: 1px solid #efefef;
    list-style-type: none;
  }
}
</style>
