<template>
  <div class="search-list">
    <div class="empty" v-if="list.length === 0">没有找到匹配的城市</div>
    <ul v-else>
      <li @click="$emit('changeCity', item.name)" v-for="item in list" :key="item.name">{{ item.name }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
.search-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.empty {
  text-align: center;
  line-height: 100px;
  color: #999999;
}
ul {
  li {
    list-style: none;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
    padding-left: 20px;
  }
}
</style>
