
<template>
  <div>
    <h1>{{ title }}</h1>
    <CountDown @over="over" :endTime="1656060560000" />
  </div>
</template>

<script>
import CountDown from './components/CountDown.vue'

export default {
  data () {
    return {
      title: '倒计时'
    }
  },
  methods: {
    over () {
      this.title = '活动已结束'
    }
  },
  components: {
    CountDown
  }
}
</script>

<style>

</style>
