* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
}
.first {
  height: 50px;
  background: green;
  display: flex;
}
.first nav {
  display: flex;
  flex: 1;
}
.first nav span {
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.second {
  flex: 1;
  background: tomato;
}
.third {
  height: 50px;
  background: blue;
  color: #ffffff;
}