<template>
  <div class="home">
    <h1>首页 {{ formatDate }}</h1>
    <el-button>默认按钮</el-button>
    <el-button type="primary">主要按钮</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="info">信息按钮</el-button>
    <el-button type="warning">警告按钮</el-button>
    <el-button type="danger">危险按钮</el-button>
    <el-divider></el-divider>
    <el-calendar v-model="value"></el-calendar>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data () {
    return {
      value: new Date()
    }
  },
  computed: {
    formatDate () {
      return moment(this.value).format('YYYY-MM-DD')
    }
  }
}
</script>
