.footer {
  height: 48px;
  background: #07111b;
  display: flex;
  color: #999999;
}
.left {
  flex: 1;
  display: flex;
  &.active {
    .logo {
      background: skyblue;
    }
    .price {
      color: #ffffff;
    }
  }
}
.cart {
  width: 56px;
  height: 56px;
  background: #07111b;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
  left: 0;
  margin: 0 12px;
  padding: 6px;
  z-index: 10;
}
.logo {
  width: 100%;
  height: 100%;
  background: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: tomato;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}
.icon {
  width: 22px;
  height: 22px;
}
.price, .desc {
  line-height: 48px;
  margin-right: 12px;
  font-size: 12px;
}
.pay {
  width: 105px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  background: #333333;
}
.payActive {
  background: #00b43c;
  color: #ffffff;
}