<template>
  <div class="cart">
    <router-link class="address" to="/address">
      <template v-if="curAddress.fullAddress">
        <h4>{{ curAddress.user }} {{ curAddress.tel }}</h4>
        <p>送至：{{ curAddress.fullAddress }}</p>
      </template>
      <h4 v-else>请选择配送地址</h4>
    </router-link>
    <div class="list">
      <ul>
        <li v-for="item in cartList" :key="item.wareId">
          <div class="checkbox" @click="changeChecked(item.wareId)">
            <svg v-if="item.checked" t="1657161833745" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5649" width="200" height="200" fill="orange"><path d="M820.113403 204.239638c-169.888272-169.918971-446.339558-169.918971-616.22783 0-169.921018 169.890318-169.921018 446.339558 0 616.22783 169.888272 169.921018 446.339558 169.921018 616.22783 0C990.035444 650.579195 990.035444 374.130979 820.113403 204.239638zM769.710456 398.811078 477.206566 710.212364c-1.832741 1.704828-3.759627 2.842745-5.183046 3.664459-1.579985 1.043772-2.685155 1.928932-4.297886 2.592035-3.697205 1.579985-7.614421 2.368954-11.722996 2.368954-3.76065 0-7.458879-0.694825-11.06194-2.085498l-3.476171-2.02103c-1.865487-0.980327-3.886517-2.023076-5.815449-3.729951l0-0.063445c-0.125867-0.094144-0.252757-0.220011-0.3776-0.346901l-0.980327-0.946558L268.257673 546.042327c-5.752004-5.626137-9.005095-13.20986-9.069563-21.268396-0.030699-8.119935 3.034103-15.737426 8.721639-21.519106 11.376095-11.502985 31.318286-11.598152 42.819225-0.252757l144.45195 142.30096 270.475178-287.952224c10.965749-11.661597 31.126928-12.294001 42.757826-1.359974 5.909593 5.593392 9.322319 13.115716 9.543354 21.23565C778.178315 385.285017 775.271102 392.96493 769.710456 398.811078z" p-id="5650"></path></svg>
            <svg v-else t="1657161824856" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5504" width="200" height="200" fill="#dddddd"><path d="M512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z m0-64c200.298667 0 362.666667-162.368 362.666667-362.666667S712.298667 149.333333 512 149.333333 149.333333 311.701333 149.333333 512s162.368 362.666667 362.666667 362.666667z" p-id="5505"></path></svg>
          </div>
          <div class="info" @click="goDetail(item)">
            <h4>{{ item.wareName }}</h4>
            <p>¥{{ (item.warePrice / 100).toFixed(2) }}</p>
          </div>
          <div class="btns">
            <button @click="sub(item.wareId, item.count)">-</button>
            <span>{{ item.count }}</span>
            <button @click="changeCount({ wareId: item.wareId, num: 1 })">+</button>
          </div>
        </li>
      </ul>
      <div class="total">
        <div class="checkbox" @click="changeAll">
          <svg v-if="checkAll" t="1657161833745" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5649" width="200" height="200" fill="orange"><path d="M820.113403 204.239638c-169.888272-169.918971-446.339558-169.918971-616.22783 0-169.921018 169.890318-169.921018 446.339558 0 616.22783 169.888272 169.921018 446.339558 169.921018 616.22783 0C990.035444 650.579195 990.035444 374.130979 820.113403 204.239638zM769.710456 398.811078 477.206566 710.212364c-1.832741 1.704828-3.759627 2.842745-5.183046 3.664459-1.579985 1.043772-2.685155 1.928932-4.297886 2.592035-3.697205 1.579985-7.614421 2.368954-11.722996 2.368954-3.76065 0-7.458879-0.694825-11.06194-2.085498l-3.476171-2.02103c-1.865487-0.980327-3.886517-2.023076-5.815449-3.729951l0-0.063445c-0.125867-0.094144-0.252757-0.220011-0.3776-0.346901l-0.980327-0.946558L268.257673 546.042327c-5.752004-5.626137-9.005095-13.20986-9.069563-21.268396-0.030699-8.119935 3.034103-15.737426 8.721639-21.519106 11.376095-11.502985 31.318286-11.598152 42.819225-0.252757l144.45195 142.30096 270.475178-287.952224c10.965749-11.661597 31.126928-12.294001 42.757826-1.359974 5.909593 5.593392 9.322319 13.115716 9.543354 21.23565C778.178315 385.285017 775.271102 392.96493 769.710456 398.811078z" p-id="5650"></path></svg>
          <svg v-else t="1657161824856" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5504" width="200" height="200" fill="#dddddd"><path d="M512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z m0-64c200.298667 0 362.666667-162.368 362.666667-362.666667S712.298667 149.333333 512 149.333333 149.333333 311.701333 149.333333 512s162.368 362.666667 362.666667 362.666667z" p-id="5505"></path></svg>
        </div>
        <p>合计：¥ {{ (total.price / 100).toFixed(2) }}</p>
        <button :disabled="total.count === 0">选好了</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  data () {
    return {
      checkAll: false
    }
  },
  watch: {
    // 监听购物车选中状态
    cartList: {
      handler () {
        if (this.cartList.length === 0) {
          this.checkAll = false
        } else {
          this.checkAll = this.cartList.every(v => v.checked)
        }
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapState(['cartList', 'curAddress']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['changeCount', 'changeChecked', 'changeAllChecked']),
    sub (wareId, count) {
      if (count - 1 <= 0) {
        this.$confirm({
          msg: '是否要删除',
          ok: () => {
            this.changeCount({ wareId, num: -1 })
          }
        })
      } else {
        this.changeCount({ wareId, num: -1 })
      }
    },
    changeAll () {
      this.checkAll = !this.checkAll
      this.changeAllChecked(this.checkAll)
    },
    goDetail (item) {
      this.$router.push({
        name: 'detail',
        params: {
          storeId: item.storeId,
          skuId: item.sku
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.cart {
  height: 100%;
  overflow: auto;
  background: #eeeeee;
}
.address {
  margin-bottom: 15px;
  padding: 10px;
  display: block;
  background: #ffffff url(https://fast-static.dmallcdn.com/kayak-project/cart/dist/cart/common/image/shoppingline.png) repeat-x;
  background-size: auto 2px;
  position: relative;
  color: #333333;
  p {
    color: #999999;
    font-size: 14px;
  }
  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-right: 1px solid #666666;
    border-top: 1px solid #666666;
  }
}
.list {
  background: #ffffff;
  margin-bottom: 15px;
  li {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px dashed #eeeeee;
  }
}
.checkbox {
  padding: 0 10px;
  height: 20px;
  .icon {
    width: 20px;
    height: 20px;
  }
}
.info {
  flex: 1;
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    color: orange;
  }
}
.btns {
  width: 80px;
  display: flex;
  button {
    width: 20px;
    height: 20px;
    border: 1px solid orange;
    color: orange;
    background: #ffffff;
  }
   span {
    width: 20px;
    height: 20px;
    text-align: center;
  }
}
.total {
  display: flex;
  align-items: center;
  padding: 15px;
  p {
    flex: 1;
  }
  button {
    border: none;
    padding: 0 20px;
    height: 36px;
    background: orange;
    border-radius: 5px;
    color: #ffffff;
    &:disabled {
      background: #cccccc;
    }
  }
}
</style>
