<template>
  <div>
    <p><input type="text" placeholder="请输入用户名" v-model="form.name"></p>
    <p><input type="password" placeholder="请输入密码" v-model="form.pwd"></p>
    <button @click="login">登陆</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        pwd: ''
      }
    }
  },
  methods: {
    login () {
      const token = this.form.name + this.form.pwd
      localStorage.setItem('token', token)
      this.$router.push('/')
    }
  }
}
</script>

<style>

</style>
