<template>
  <div>
    <el-row>
      <el-col :span="24" class="grid-content">
        <el-row>
          <el-col
            class="top-item"
            v-for="item in toplist"
            :key="item.text"
            :span="6"
          >
            <p>{{ item.text }}</p>
            <p>
              <b>{{ item.num }}</b>
              <span>{{ item.desc }}</span>
            </p>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="grid-content">
          <el-tabs v-model="curIndex">
            <el-tab-pane
              v-for="(item, index) in navlist"
              :key="item.text"
              :label="item.text"
              :name="index + ''"
            ></el-tab-pane>
          </el-tabs>
          <div class="echarts-wrap" ref="echarts"></div>
        </div>
      </el-col>
      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>销售排名</span>
          </div>
          <dl v-for="(item, index) in rankingList" :key="index">
            <dt><img :src="item.img" alt="" /></dt>
            <dd>
              <h6>{{ item.name }}</h6>
              <p>{{ item.title }}</p>
            </dd>
          </dl>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <div class="grid-content circle">
          <el-progress
            class="progress"
            type="circle"
            color="red"
            :stroke-width="12"
            :percentage="25"
          ></el-progress>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content circle">
          <el-progress
            type="circle"
            color="blue"
            :stroke-width="12"
            :percentage="50"
          ></el-progress>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content circle">
          <el-progress
            type="circle"
            color="green"
            :stroke-width="12"
            :percentage="100"
          ></el-progress>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>销售最多</span>
          </div>
          <el-table :data="tableData" style="width: 100%">
            <el-table-column label="序号" width="180" prop="id"></el-table-column>
            <el-table-column label="名称" width="180" prop="name"></el-table-column>
            <el-table-column label="数量" prop="count"></el-table-column>
            <el-table-column label="进度">
              <template slot-scope="scope">
                <el-progress :color="color(scope.row.progress)" :percentage="scope.row.progress"></el-progress>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
      <el-col :span="10">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>浏览最多</span>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import axios from 'axios'
export default {
  data () {
    return {
      toplist: [
        {
          text: '我的待办',
          num: 8,
          desc: '个任务'
        },
        {
          text: '对接设备时间',
          num: 32,
          desc: '分钟'
        },
        {
          text: '本周销售时间',
          num: 32,
          desc: '分钟'
        },
        {
          text: '本周销售量',
          num: 23,
          desc: '个任务'
        }
      ],
      rankingList: [
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          name: '淘小宝',
          title: '高级客户销售'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1w5jvw4TpK1RjSZFMXXbG_VXa-200-200.png',
          name: '张明',
          title: '资深客户经理'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1zenmwYPpK1RjSZFFXXa5PpXa-200-200.png',
          name: '李四',
          title: '客户销售专家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1n4rxwZfpK1RjSZFOXXa6nFXa-200-200.png',
          name: '张三',
          title: '高级客户销售庄家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          name: '淘小宝',
          title: '高级客户销售'
        }
      ],
      curIndex: '0',
      navlist: [
        {
          text: '每日消费详情',
          url: '/first/list',
          option: {
            tooltip: {
              trigger: 'axis'
            },
            legend: {
              data: []
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            // toolbox: {
            //   feature: {
            //     saveAsImage: {}
            //   }
            // },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [
                '星期一',
                '星期二',
                '星期三',
                '星期四',
                '星期五',
                '星期六',
                '星期日'
              ]
            },
            yAxis: {
              type: 'value'
            },
            series: []
          }
        },
        {
          text: '每日总消费',
          url: '/second/list',
          option: {
            title: {
              text: '每日总消费'
            },
            tooltip: {
              trigger: 'axis'
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            toolbox: {
              feature: {
                saveAsImage: {}
              }
            },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [
                '星期一',
                '星期二',
                '星期三',
                '星期四',
                '星期五',
                '星期六',
                '星期日'
              ]
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                data: [],
                type: 'line',
                smooth: true
              }
            ]
          }
        }
      ],
      tableData: [
        {
          id: 1,
          name: '王大虎',
          count: 100,
          progress: 50
        },
        {
          id: 2,
          name: '王二虎',
          count: 60,
          progress: 70
        },
        {
          id: 3,
          name: '王三虎',
          count: 80,
          progress: 40
        },
        {
          id: 4,
          name: '王四虎',
          count: 90,
          progress: 50
        },
        {
          id: 5,
          name: '王小虎',
          count: 30,
          progress: 100
        }
      ]
    }
  },
  watch: {
    curIndex: {
      handler () {
        axios.get(this.navlist[this.curIndex].url).then((res) => {
          if (this.curIndex === '0') {
            this.navlist[this.curIndex].option.series = res.data.values.map(
              (v) => ({
                ...v,
                type: 'line',
                stack: 'Total'
              })
            )
            this.navlist[this.curIndex].option.legend.data =
              res.data.values.map((v) => v.name)
          } else {
            this.navlist[this.curIndex].option.series[0].data = res.data.values
          }
          this.myChart.setOption(this.navlist[this.curIndex].option, true)
        })
      },
      immediate: true
    }
  },
  methods: {
    color (progress) {
      if (progress < 60) {
        return 'red'
      } else if (progress >= 60 && progress < 80) {
        return 'blue'
      } else {
        return 'green'
      }
    }
  },
  mounted () {
    // 基于准备好的dom，初始化echarts实例
    this.myChart = echarts.init(this.$refs.echarts)
  }
}
</script>

<style lang="scss" scoped>
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.grid-content {
  padding: 16px;
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
}
.top-item {
  text-align: center;
  line-height: 28px;
  padding: 20px;
  font-size: 14px;
  border-right: 1px solid #dddddd;
  &:last-child {
    border-right: none;
  }
  b {
    font-size: 20px;
  }
}
.box-card {
  dl {
    display: flex;
    margin-bottom: 20px;
    dt {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 16px;
      img {
        height: 100%;
        vertical-align: middle;
      }
    }
    dd {
      flex: 1;
      h6 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
        color: #999999;
      }
    }
  }
}
.echarts-wrap {
  height: 300px;
}
.circle {
  text-align: center;
}
// 想要修改子组件内部的样式并且当前style有scoped属性时，使用样式穿透
.progress ::v-deep .el-progress__text {
  font-size: 30px !important;
}
</style>
