<template>
  <div class="title-bar">
    <div class="back" @click="back"><svg t="1656662128485" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3876"><path d="M312.4 488.624L668.8 152.976a29.36 29.36 0 0 1 42.352 0 31.408 31.408 0 0 1 0 43.552L376.24 512l334.912 315.36a31.408 31.408 0 0 1 0 43.552 29.36 29.36 0 0 1-42.352 0L312.4 535.264a36.32 36.32 0 0 1 0-46.64z" p-id="3877"></path></svg></div>
    <div class="center">
      <slot>{{ title }}</slot>
    </div>
    <slot name="right"></slot>
  </div>
</template>

<script>
export default {
  props: ['title'],
  methods: {
    back () {
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.title-bar {
  height: 50px;
  border-bottom: 1px solid #dedede;
  background: #efeff0;
  line-height: 50px;
  display: flex;
}
.back {
  width: 50px;
  text-align: center;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.center {
  flex: 1;
}
</style>
