<template>
  <div class="page">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link
        v-for="item in nav"
        :key="item.text"
        :to="item.path ? item.path : {
          name: item.name,
          params: {
            id: item.id
          }
        }"
      >{{ item.text }}</router-link>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      nav: [
        {
          text: '首页',
          path: '/first'
        },
        {
          text: '关注',
          id: '关注',
          name: 'other'
        },
        {
          text: '消息',
          id: '消息',
          name: 'other'
        },
        {
          text: '我的',
          id: '我的',
          name: 'other'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
      color: #333333;
    }
    .router-link-active {
      color: red;
    }
  }
}
</style>
