* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
.app {
  display: flex;
  .left {
    width: 100px;
    background: #cccccc;
    p {
      line-height: 40px;
      text-align: center;
    }
    .active {
      background: #ffffff;
      color: orange;
    }
  }
  .right {
    flex: 1;
  }
}