<template>
  <div class="page">
    <section>
      <router-view />
    </section>
    <footer>
      <router-link
        v-for="item in navlist"
        :key="item.path"
        :to="item.path"
      >
        <i :class="['iconfont', item.icon]"></i>
        <span>{{ item.text }}</span>
      </router-link>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navlist: [
        {
          text: '电影',
          path: '/home/movie',
          icon: 'icon-dianyingpiaoiocn'
        },
        {
          text: '影院',
          path: '/home/cinema',
          icon: 'icon-yingyuan'
        },
        {
          text: '资讯',
          path: '/home/news',
          icon: 'icon-zixun'
        },
        {
          text: '我的',
          path: '/home/mine',
          icon: 'icon-wode'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/font/iconfont.css';
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  section {
    flex: 1;
    overflow: hidden;
  }
  footer {
    border-top: 1px solid #cccccc;
    height: 60px;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #797d82;
      span {
        font-size: 14px;
      }
      i {
        font-size: 22px;
      }
    }
    .router-link-active {
      color: #ff5f16;
    }
  }
}
</style>
