
<template>
  <div>
    <button @click="visible1 = true">显示普通弹窗</button>
    <button>显示表单弹窗</button>
    <button>显示表格弹窗</button>
    <MessageBox
      v-if="visible1"
      title="弹窗1234"
      @close="visible1 = false"
      @ok="ok1"
      @cancel="visible1 = false"
    >
      <!-- 具名插槽 -->
      <template v-slot:top="scoped">
        <!-- 作用域插槽: 在插槽中使用子组件内的变量，scoped接受子组件传出来的变量 -->
        <div class="top">
          <b>{{ scoped.text }}</b>
          <button>按钮{{scoped.num}}</button>
        </div>
      </template>
      <!-- 默认插槽 -->
      <template v-slot:default="obj">
        <h3>插槽 {{ obj.a }}</h3>
        <table border="1" cellspacing="0">
          <tr>
            <th>表头1</th>
            <th>表头2</th>
            <th>表头3</th>
          </tr>
          <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
          </tr>
          <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
          </tr>
        </table>
      </template>
      <!-- <template v-slot:footer>
        <i>footeraaaaa</i>
      </template> -->
    </MessageBox>
    <!-- <input type="text" :value="inpText" @input="inpText = $event.target.value">
    <input type="text" v-model="inpText">
    {{ inpText }} -->
    <!-- <Count :value="num" @input="num = $event" @abc="inpText = $event" /> {{ inpText }} -->
    <Count v-model="num" @abc="inpText = $event" />{{ inpText }}
  </div>
</template>

<script>
import MessageBox from './components/MessageBox.vue'
import Count from './components/Count.vue'

export default {
  data () {
    return {
      visible1: false,
      inpText: 'inpText',
      num: 11
    }
  },
  methods: {
    ok1 () {
      console.log('点击弹窗1234确定按钮')
    }
  },
  components: {
    MessageBox,
    Count
  }
}
</script>

<style>

</style>
