<template>
  <div class="detail">
    <h4>任务编号: 第{{index + 1}}个任务</h4>
    <div class="info">
      <h3>任务名称：{{info.name}}</h3>
      <div class="platform">{{platformList[info.platform]}}</div>
      <div class="money">
        <p class="m">支付本金 {{info.myMoney}} 元</p>
        <div class="back" :class="{active: info.myMoneyBack}">
          {{info.myMoneyBack ? '已返' : '未返'}} <p @click="info.myMoneyBack = !info.myMoneyBack"><span></span></p>
        </div>
      </div>
      <div class="money">
        <p class="m">佣金收益 {{info.brokerage}} 元</p>
        <div class="back" :class="{active: info.brokerageBack}">
          {{info.brokerageBack ? '已返' : '未返'}}  <p @click="info.brokerageBack = !info.brokerageBack"><span></span></p>
        </div>
      </div>
      <div class="remark">备注: {{info.remark}}</div>
    </div>
    <button @click="save">保存</button>
    <button @click="del">删除</button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      info: {},
      index: null,
      platformList: ['淘宝', '京东', '拼多多']
    }
  },
  computed: {
    ...mapState(['memoList'])
  },
  methods: {
    del () {
      this.$store.commit('remove', this.index)
      this.$router.back()
    },
    save () {
      this.$store.commit('save', {
        index: this.index,
        brokerageBack: this.info.brokerageBack, // 佣金已返
        myMoneyBack: this.info.myMoneyBack // 本金已返
      })
      this.$router.back()
    }
  },
  created () {
    this.index = this.memoList.findIndex(item => item.id === Number(this.$route.params.id))
    if (this.index > -1) {
      this.info = { ...this.memoList[this.index] }
    } else {
      this.$router.replace('/memo')
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  height: 100%;
  background: #eeeeee;
  padding: 0 20px;
}
h4 {
  padding: 14px 0;
}
.info {
  background: #ffffff;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  h3 {
    line-height: 80px;
  }
}
.platform {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid orange;
  color: orange;
  line-height: 50px;
  text-align: center;
  transform: rotate(-15deg);
}
.money {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
.back {
  display: flex;
  color: orange;
  p {
    width: 40px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #cccccc;
    border-bottom: none;
    overflow: hidden;
    margin-left: 10px;
    span {
      float: left;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      box-shadow: 0 0px 5px 1px #cccccc;
      background: #ffffff;
      transition: transform 0.5s linear;
    }
  }
  &.active {
    p {
      background: orange;
      border-color: orange;
      span {
        transform: translateX(15px);
        box-shadow: none;
      }
    }
  }
}
button {
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid orange;
  background: none;
  color: orange;
  display: block;
  width: 100%;
  height: 30px;
}
</style>
