* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    background: #cccccc;
    line-height: 50px;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
    .light {
      background: orange;
      color: #fff;
    }
  }
}