
<template>
  <div>
    <h1>修改信息</h1>
    <!-- <FormItem
      label="姓名"
      :labelWidth="80"
      :value="form.name"
      @input="form.name = $event"
    /> -->
    <FormItem label="姓名" :labelWidth="80" v-model="form.name" />
    <FormItem label="年龄" :labelWidth="80" v-model="form.age" />
    <FormItem label="个人简介" :labelWidth="80" v-model="form.info" />
    <button @click="submit">提交</button>
    <Count v-model="num" />
    <!-- <Count :value="num" @input="num = $event" /> -->
  </div>
</template>

<script>
import FormItem from './components/FormItem.vue'
import Count from './components/Count.vue'

export default {
  data () {
    return {
      form: {
        name: '王老名',
        age: 50,
        info: '专业维修空调，洗衣机，下水道，水龙头'
      },
      num: 10
    }
  },
  methods: {
    submit () {
      console.log('提交', this.form)
    }
  },
  components: {
    FormItem,
    Count
  }
}
</script>

<style>

</style>
