@font-face {
  font-family: "iconfont"; /* Project id 3491152 */
  src: url('iconfont.woff2?t=1656493645643') format('woff2'),
       url('iconfont.woff?t=1656493645643') format('woff'),
       url('iconfont.ttf?t=1656493645643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiaoiocn:before {
  content: "\e60e";
}

.icon-zixun:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-yingyuan:before {
  content: "\e8c0";
}

