<template>
  <header>
    <input type="text" placeholder="请输入食物">
    <p>
      {{ num }}
      <button @click="num++">+</button>
    </p>
  </header>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  // height: 80px;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
  input {
    width: 100%;
    // height: 100%;
    outline: none;
    border: none;
    background: #eeeeee;
    border-radius: 20px;
    padding: 15px;
  }
}
</style>
