<template>
  <div class="app">
    <nav>
      <button :class="{active: show === 0}" @click="show = 0">精选歌单</button>
      <button :class="{active: show === 1}" @click="show = 1">歌手分类</button>
      <button :class="{active: show === 2}" @click="show = 2">歌曲列表</button>
      <button :class="{active: show === 3}" @click="show = 3">$set和$nextTick</button>
      <button :class="{active: show === 4}" @click="show = 4">vue的key</button>
      <!-- <span>{{ time | format }}</span> -->
    </nav>
    <main>
      <Topic v-if="show === 0" />
      <Artist v-else-if="show === 1" />
      <Songs v-else-if="show === 2"/>
      <Test v-else-if="show === 3" />
      <Key v-else-if="show === 4" />
    </main>
  </div>
</template>

<script>
import Artist from './components/Artist.vue'
import Songs from './components/Songs.vue'
import Topic from './components/Topic.vue'
import Test from './components/Test.vue'
import Key from './components/Key.vue'
import moment from 'moment'

export default {
  data () {
    return {
      show: 4,
      time: Date.now()
    }
  },
  methods: {
    formatDate (t) {
      console.log('格式化时间')
      return moment(t).format('YYYY-MM-DD kk:mm:ss')
    }
  },
  // 过滤器：格式化变量
  filters: {
    format (t) {
      console.log('过滤器')
      return moment(t).format('YYYY-MM-DD kk:mm:ss')
    }
  },
  components: {
    Topic,
    Songs,
    Artist,
    Test,
    Key
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.active {
  background: orange;
}
.app {
  display: flex;
  flex-direction: column;
}
nav {
  padding: 20px;
  border-bottom: 1px solid;
}
main {
  flex: 1;
  overflow: hidden;
}
</style>
