* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    background: #333;
    padding: 10px 20px;
    input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
    }
  }
  nav {
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    text-align: center;
    line-height: 40px;
    a {
      flex: 1;
      color: #333;
      &.active {
        color: tomato;
      }
    }
    p {
      flex: 1;
      display: flex;
      justify-content: center;
      .icon {
        width: 10px;
        height: 10px;
      }
      span {
        margin-left: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0;
      }
      i {
        height: 10px;
      }
      i.active .icon {
        fill: tomato;
      }
    }
    b {
      width: 40px;
      border-left: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 26px;
        height: 26px;
      }
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
img {
  width: 100%;
}
.list {
  height: 100%;
  overflow: auto;
  dl {
    display: flex;
  }
  dt {
    width: 120px;
  }
  dd {
    flex: 1;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    padding-right: 20px;
    position: relative;
    padding-top: 10px;
    h3 {
      font-size: 14px;
    }
    .price {
      position: absolute;
      bottom: 0;
      left: 0;
      color: tomato;
    }
    .sold {
      font-size: 12px;
      color: #999;
    }
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #eee;
  padding-top: 4px;
  dl {
    width: calc(50% - 2px);
    flex-direction: column;
    height: 330px;
    background: #fff;
    margin-bottom: 4px;
  }
  dt {
    width: 100%;
  }
  dd {
    margin-left: 0;
    padding: 10px;
    border-bottom: none;
    h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .price {
      left: 10px;
      bottom: 10px;
    }
    .sold {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}