<template>
  <div>
    <button @click="$emit('input', value - 1)">-</button>
    {{ value }}
    <button @click="$emit('input', value + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['value'],
  created () {
    setInterval(() => {
      this.$emit('abc', Math.random())
    }, 1000)
  }
}
</script>

<style>

</style>
