<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <div class="close" @click="$emit('close')">X</div>
      <div class="header">
        <slot name="top" :num="num" :text="text">{{ title }}</slot>
      </div>
      <div class="center">
        <button @click="num--">-</button> {{ num }} <button @click="num++">+</button>
        <slot a="AA">默认内容</slot>
      </div>
      <div class="footer">
        <slot name="footer">
          <button @click="$emit('ok')">确认</button>
          <button @click="$emit('cancel')">取消</button>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data () {
    return {
      num: 100,
      text: '测试文本'
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 700px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.close {
  // absolute 相对有定位的父级元素
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.header {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  padding: 0 20px;
  line-height: 50px;
  font-size: 18px;
}
.center {
  flex: 1;
  padding: 20px;
}
.footer {
  height: 50px;
  border-top: 1px solid #cccccc;
  padding: 0 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  button {
    padding: 5px 20px;
    height: 34px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background: #dddddd;
    &:first-of-type {
      background: green;
      color: #ffffff;
    }
  }
}
</style>
